<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Preferences">
			<section name="PROD" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
			<section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
			<section name="WORK" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>

	<Preferences>
		<PROD>
			<add key="Comments" value="Production Environment"/>
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBpBidhk4HvB/6c+z1b9BK7tQ+xvq+R8OMA5mLylX4Vq0F+2zgR8Avoy/n3/100C0gypyyrps5KAcPD8FIe7hqt/iVzXSZzzeL"/>
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVf4aYSAfSmEIadztZv0tlgJlNICNVFUk5HLevGEnssmiRzDB372N10oKTJ+RP4CKxOOZJJ0Q+RzWGgUJSwIYCZFZsDwNPYTx9A=="/>
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eAMiG3bQWEbWGIuCyOp7DhJq3/AY2cHS5ROKfezVUSxJ5GDOSTWggqmdtGkNkfb8D24GTGRnvDJaZGMl5CDPoJ9CO0mtNQ08pJ"/>
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibXVgaqnILCBMaQZfhBO/pSNEkeW2jkhLV+YUkmikPn38NUZIiv9t9P5LDC0bhHKrf+3FoYXm/oxNmTkkyOwtH42fhnVYXFhLeo="/>
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lX+GmEgH0phCGnc7Wb9LZYCZTSAjVRVJORy3rxhJ7LJokcwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ="/>
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoGkGJ2GTge8H/pz7PVv0Eru1D7G+r5Hw4wDmYvKVfhWrQX7bOBHwC+jL+ff/XTQLSDKnLKumzkoBw8PwUh7uGq3+JXNdJnPN4s="/>
			<add key="LogSourceID" value="7"/>
			<add key="FileSourceID" value="1"/>
			<add key="CSS_CONN_LIMIT" value="O2n+hDozl/g=" /><!-- 0050 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc059dGlHpXYDnA==" /><!-- 192.168.0.9 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc06Jb4FRRs7Fwg==" /><!-- 192.168.1.6-->
			<add key="CSS_IP_ADDRESS" value="STl4ZyMUc04GAB3eOwLL0g==" /><!-- 192.168.1.9-->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc07QrTwBAJupYg==" /><!-- 192.168.0.10 -->
			<add key="CSS_IP_ADDRESS_192.168.0.16" value="STl4ZyMUc075GFmbFJpHgA==" /><!-- 192.168.0.16 -->
			<add key="CSS_IP_ADDRESS_192.168.0.15" value="STl4ZyMUc07fAx2HPUUylg==" /><!-- 192.168.0.15 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc07b0cKCrYlBaA==" /><!-- 192.168.0.22 -->
			<add key="CSS_IP_ADDRESS_10.21.26.142" value="FlhcQenRXELdhK7iBEQo4A==" /><!-- 10.21.26.142 -->
			<add key="CSS_PORT_NUMBR_" value="aJu3K8EQObU=" /><!-- 5136 -->
			<add key="CSS_PORT_NUMBR" value="GPBwzZJExDQ=" /><!-- 5138 -->	
			<add key="LAIPACAPI.AccountUnitCacheExpiresIn" value="5" />
			<add key="LAIPACAPI.MonitoringStation.Environmet" value="LIVE" /><!-- Looks for DEV environment if this environment key is not present it assumes it is live.-->
			<add key="LAIPACAPI.MaxCR_InSentence" value="1" />
			<add key="LAIPAC.S911MaxFenceNumber" value="5" />
			<add key="PUSH_SERVER.PausePeriodInSeconds" value="10" />
			<add key="PUSH_SERVER.AttemptNumberPerCmd" value="5" />
			<!-- START AG -->
			<add key="AG_USERNAME" value="bTbck08e6QQH0Uo1eYj9QA==" />
			<add key="AG_PASSWORD" value="WYI4Qjdtf2p+GdVhcWEt6g==" />
			<add key="AG_APPLNAME" value="n4LwY+omV97KnLKumzkoBxy2xO+5CJ0jfhnVYXFhLeo=" />
			<add key="AG_CLIENTPLATFORM" value="ZJ0mYa4W3PZ+GdVhcWEt6g==" />
			<add key="AG_APPLIC_VERISON" value="AK2DsHEuCfs=" />
			<!--<add key="AG_GATEWAY_ENDPNT" value="https://portal.agmonitoring.com/stagesexternalgateway/gateway.aspx" />-->
			<add key="AG_GATEWAY_ENDPNT" value="BWkvNVtYYSVqTagWkMOp8wuvAt1OjdnoKe6BbbACd0qW9Y9h2Ug3dMxjNbh5uoeBqAZoGpqPyd3uzZq0N8d8P6HGCXjQ0nat" />
			<!--<add key="AG_SIGNALR_ENDPNT" value="https://portal.agmonitoring.com/SgsSignalService/Receiver.asmx" />-->
			<add key="AG_SIGNALR_ENDPNT" value="0DkzDMrpX/AUIBOuLVFO5A==" />
			<!--   END AG -->
		</PROD>
		<DEV>
			<add key="Comments" value="Development Environment"/>
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBSKFA+TC+OPhF/i7QrbVWPnI3hw8QRVnXC9zC+5MxF+dHMMHfvY3XSgpMn5E/gIrE45kknRD5HNYaBQlLAhgJkVmwPA09hPH0"/>
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVa8exlQurl2dNZuxs8BkhRqt/wGNnB0uUYQ0C+ffZmE4Yig1eS5xqqbbRpDZH2/A9uBkxkZ7wyWmRjJeQgz6CfQjtJrTUNPKSQ=="/>
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmM1FcJTZsbinn2W9a249B08PO1J3ubE6Q0rhFSMlt0fFeqW1mqeVB90RPVzMjE4fULjyXr8p3gp29iFNVLPDjgyC3yE7Cto0829S9PeeDshFFTO7ViEvWTYXzuVLPf6ypc="/>
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibVAD4wvg0xwFkbl2Ixt1QGL1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2o4y5bzkBn7SfsdxFAwdJZU4dI5NnOVOQPRM4IM/dxopw="/>
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lWvHsZULq5dnTWbsbPAZIUarf8BjZwdLlGENAvn32ZhOGIoNXkucaqm20aQ2R9vwPbgZMZGe8MlpkYyXkIM+gn0I7Sa01DTykk="/>
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoFIoUD5ML44+EX+LtCttVY+cjeHDxBFWdcL3ML7kzEX50cwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ="/>
			<add key="MerchantStatus" value="TestMode"/>
			<add key="LogSourceID" value="7"/>
			<add key="FileSourceID" value="1"/>
			<add key="CSS_CONN_LIMIT" value="O2n+hDozl/g=" /><!-- 0050 -->
			<add key="CSS_IP_ADDRESS_" value="JsSirt2qlgZxRZboWz/fKg==" /><!-- 127.0.0.1 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc07QWnn1M+hM+g==" /><!-- 192.168.0.8 -->
			<add key="CSS_IP_ADDRESS" value="STl4ZyMUc04GAB3eOwLL0g==" /><!-- 192.168.1.9-->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc07QrTwBAJupYg==" /><!-- 192.168.0.10 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc075GFmbFJpHgA==" /><!-- 192.168.0.16 -->
			<add key="CSS_IP_ADDRESS_" value="STl4ZyMUc07fAx2HPUUylg==" /><!-- 192.168.0.15 -->
			<add key="CSS_IP_ADDRESS_" value="FlhcQenRXELdhK7iBEQo4A==" /><!-- 10.21.26.142 -->
			<add key="CSS_PORT_NUMBR_" value="Mhf1giDQ4R8=" /><!-- 2055 -->
			<add key="CSS_PORT_NUMBR_" value="aJu3K8EQObU=" /><!-- 5136 -->
			<add key="CSS_PORT_NUMBR" value="GPBwzZJExDQ=" /><!-- 5138 -->
			<add key="LAIPACAPI.AccountUnitCacheExpiresIn" value="5" />
			<add key="LAIPACAPI.MonitoringStation.Environmet" value="DEV" /><!-- Looks for DEV environment if this environment key is not present it assumes it is live.-->
			<add key="LAIPAC.S911MaxFenceNumber" value="5" />
			<add key="PUSH_SERVER.PausePeriodInSeconds" value="5" />
			<add key="PUSH_SERVER.AttemptNumberPerCmd" value="5" />
			<!-- START AG -->
			<add key="AG_USERNAME" value="Pe7nGg73OJqL8qjrNS4nDA==" />
			<add key="AG_PASSWORD" value="uHUEPlQ6ETN+GdVhcWEt6g==" />
			<add key="AG_APPLNAME" value="n4LwY+omV97KnLKumzkoBxy2xO+5CJ0jfhnVYXFhLeo=" />
			<add key="AG_CLIENTPLATFORM" value="ZJ0mYa4W3PZ+GdVhcWEt6g==" />
			<add key="AG_APPLIC_VERISON" value="AK2DsHEuCfs=" />
			<!--<add key="AG_GATEWAY_ENDPNT" value="https://portal.agmonitoring.com/teststagesexternalgateway/gateway.aspx" />-->
			<add key="AG_GATEWAY_ENDPNT" value="BWkvNVtYYSVqTagWkMOp8wuvAt1OjdnoKe6BbbACd0rHVCEAFntvJ/MTiDYO+vSrsPFfOnwKIE+pD2Xpviu4HELwuJljp5g3" />
			<!--<add key="AG_SIGNALR_ENDPNT" value="https://portal.agmonitoring.com/testSgsSignalService/Receiver.asmx" />-->
			<add key="AG_SIGNALR_ENDPNT" value="0DkzDMrpX/AUIBOuLVFO5A==" />
			<!--   END AG -->
		</DEV>
		<WORK>
			<add key="Comments" value="Development Environment"/>
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBSKFA+TC+OPhF/i7QrbVWPnI3hw8QRVnXC9zC+5MxF+dHMMHfvY3XSgpMn5E/gIrE45kknRD5HNYaBQlLAhgJkVmwPA09hPH0"/>
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVa8exlQurl2dNZuxs8BkhRqt/wGNnB0uUYQ0C+ffZmE4Yig1eS5xqqbbRpDZH2/A9uBkxkZ7wyWmRjJeQgz6CfQjtJrTUNPKSQ=="/>
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmM1FcJTZsbinn2W9a249B08PO1J3ubE6Q0rhFSMlt0fFeqW1mqeVB90RPVzMjE4fULjyXr8p3gp29iFNVLPDjgyC3yE7Cto0829S9PeeDshFFTO7ViEvWTYXzuVLPf6ypc="/>
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibVAD4wvg0xwFkbl2Ixt1QGL1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2o4y5bzkBn7SfsdxFAwdJZU4dI5NnOVOQPRM4IM/dxopw="/>
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lWvHsZULq5dnTWbsbPAZIUarf8BjZwdLlGENAvn32ZhOGIoNXkucaqm20aQ2R9vwPbgZMZGe8MlpkYyXkIM+gn0I7Sa01DTykk="/>
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoFIoUD5ML44+EX+LtCttVY+cjeHDxBFWdcL3ML7kzEX50cwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ="/>
			<add key="MerchantStatus" value="TestMode"/>
			<add key="LogSourceID" value="7"/>
			<add key="FileSourceID" value="1"/>
			<add key="CSS_CONN_LIMIT" value="O2n+hDozl/g=" />
			<!-- 0050 -->
			<add key="CSS_IP_ADDRESS_127.0.0.1" value="JsSirt2qlgZxRZboWz/fKg==" />
			<!-- 127.0.0.1 -->
			<add key="CSS_IP_ADDRESS_192.168.0.16" value="STl4ZyMUc075GFmbFJpHgA==" />
			<!-- 192.168.0.16 -->
			<add key="CSS_IP_ADDRESS" value="FlhcQenRXELdhK7iBEQo4A==" />
			<!-- 10.21.26.142 -->
			<add key="CSS_PORT_NUMBR_2055" value="Mhf1giDQ4R8=" />
			<!-- 2055 -->
			<add key="CSS_PORT_NUMBR" value="aJu3K8EQObU=" />
			<!-- 5136 -->
			<add key="LAIPACAPI.AccountUnitCacheExpiresIn" value="5" />
			<add key="LAIPACAPI.MonitoringStation.Environmet" value="DEV" />
			<!-- Looks for DEV environment if this environment key is not present it assumes it is live.-->
			<!-- START AG -->
			<add key="AG_USERNAME" value="Pe7nGg73OJqL8qjrNS4nDA==" />
			<add key="AG_PASSWORD" value="uHUEPlQ6ETN+GdVhcWEt6g==" />
			<add key="AG_APPLNAME" value="n4LwY+omV97KnLKumzkoBxy2xO+5CJ0jfhnVYXFhLeo=" />
			<add key="AG_CLIENTPLATFORM" value="ZJ0mYa4W3PZ+GdVhcWEt6g==" />
			<add key="AG_APPLIC_VERISON" value="AK2DsHEuCfs=" />
			<!--<add key="AG_GATEWAY_ENDPNT" value="https://portal.agmonitoring.com/teststagesexternalgateway/gateway.aspx" />-->
			<add key="AG_GATEWAY_ENDPNT" value="BWkvNVtYYSVqTagWkMOp8wuvAt1OjdnoKe6BbbACd0rHVCEAFntvJ/MTiDYO+vSrsPFfOnwKIE+pD2Xpviu4HELwuJljp5g3" />
			<!--<add key="AG_SIGNALR_ENDPNT" value="https://portal.agmonitoring.com/testSgsSignalService/Receiver.asmx" />-->
			<add key="AG_SIGNALR_ENDPNT" value="0DkzDMrpX/AUIBOuLVFO5A==" />
			<!--   END AG -->
		</WORK>
	</Preferences>

	<SubSonicService defaultProvider="RecruitingProvider">
		<providers>
			<clear/>
			<add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString"/>
			<add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString"/>
			<add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString"/>
			<add name="SosReceiverEngineProvider" type="SOS.Data.SosReceiverEngineProvider, SOS.Data" connectionStringName="SosReceiverEngineConnString"/>
			<add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString"/>
			<add name="SosGpsTrackingProvider" type="SOS.Data.SosGpsTrackingProvider, SOS.Data" connectionStringName="SosGpsTrackingConnString"/>
		</providers>
	</SubSonicService>

	<appSettings>
		<add key="Environment" value="DEV"/>
		<add key="DomainName" value="sos.dealersite.local"/>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>


	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ReceiverSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ReceiverSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://portal.agmonitoring.com/SgsSignalService/Receiver.asmx"
			 binding="basicHttpBinding" bindingConfiguration="ReceiverSoap"
			 contract="AGSignalService.ReceiverSoap" name="ReceiverSoap" />
		</client>
	</system.serviceModel>

</configuration>
