<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.Dashboard.DashboardService">
        <endpoint address="http://applicationservices.devsilverline.com/DashboardService.svc"
         binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
         contract="NXS.Services.Wcf.AppServices.Dashboard.IDashboardService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.ErrorHandling.ErrorHandlingService">
        <endpoint address="http://applicationservices.devsilverline.com/ErrorHandlingService.svc"
         binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
         contract="NXS.Services.Wcf.AppServices.ErrorHandling.IErrorHandlingService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.HRManager.HiringManagerService">
        <endpoint address="http://applicationservices.devsilverline.com/HiringManagerService.svc"
         binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
         contract="NXS.Services.Wcf.AppServices.HRManager.IHiringManagerService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior01">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecWsBinding" maxBufferPoolSize="4294967295" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="100000" maxStringContentLength="40000"
           maxArrayLength="100000" maxBytesPerRead="2147483647" maxNameTableCharCount="40000" />
          <security>
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>