<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSE.Lib.Abara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EquifaxWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EquifaxWSSoap1" />
                <binding name="ExperianWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ExperianWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testblinkws.abarasoftware.com/EQ/EquifaxWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="EquifaxWSSoap"
                contract="com.abarasoftware.blinkws.EQ.EquifaxWSSoap" name="EquifaxWSSoap" />
            <endpoint address="https://testblinkws.abarasoftware.com/EX/ExperianWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExperianWSSoap"
                contract="com.abarasoftware.blinkws.EX.ExperianWSSoap" name="ExperianWSSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
	<applicationSettings>
        <NSE.Lib.Abara.Properties.Settings>
               <setting name="NSE_Lib_Abara_com_abarasoftware_testblinkws_TU_TransUnionWS"
                      serializeAs="String">
                      <value>http://testblinkws.abarasoftware.com/TU/TransUnionWS.asmx</value>
               </setting>
        </NSE.Lib.Abara.Properties.Settings>
    </applicationSettings>
</configuration>
