.box-1 {behavior: url(js/PIE.htc); position:relative;}
#page1 .text-2 {//padding-top:89px;}
#page1 .text-3 {//margin-top:-12px;}

#page1 .text-3 {margin-top:-10px\0/;}
#page1 .indent-bot-nav {margin-bottom:65px\0/;}

header .text-2 {//padding-top:15px;}
header .text-3 {//margin-top:-16px;}

header .text-2 {padding-top:11px\0/;}
header .text-3 {margin-top:-14px\0/;}
header .indent-bot {margin-bottom:23px\0/;}