<!-- TemplateId: raw form-validation.html -->
<div id="general-message" class="error-modal">
	<div class="menu-bar">
		<a id="hdr-close-x" href="#" class="modal-close btn btn-close-x">X</a>
	</div>
	<div class="modal-main">
		<img src="/img/icon-note.png" alt="Warning" style="float: left" />
		<h1 class="popup-title">{Title}</h1>
		<div class="message-body">{MessageBody}</div>
		<div class="error-code"><ul>{ValidationList}</ul></div>
	</div>
	<div class="modal-footer">
		<img id="img-valid-close" alt="Close Window" style="float: right;padding: 0px 5px 10px 5px;" src="/img/close_1_32_hot.png" />
		<a id="form-valid-close" href="#" class="btn modal-close">Close</a>
	</div>
</div>