<!-- TemplateId: raw leads-panel.html -->
<!--<div style="padding: 0 20px 0 10px;">-->
	<!--<div id="lead-panel-content">-->
		<!--<div class="snap_cont_1">-->
			<!--<img src="/img/icon-sml-add.png" alt="add address" style="float:right;" />-->
			<!--<h2>Addresses</h2>-->
			<!--<div style="width:100%;height: 1px; background-color: #fff;"></div>-->
			<!--<div style="float:left;font-size: 10px;line-height: 12px;">-->
				<!--<h4>Billing</h4>1184 N 840 E<br/>Orem UT 84097<br />(800) 234-3433-->
			<!--</div>-->
			<!--<div style="float: left;width:10px">&nbsp;</div>-->
			<!--&lt;!&ndash; Premise Address. &ndash;&gt;-->
			<!--<div style="float:left;font-size: 10px;line-height: 12px;">-->
				<!--<h4>Premise</h4>1184 N 840 E<br/>Orem UT 84097<br />(800) 234-3433-->
			<!--</div>-->

		<!--</div>-->
	<!--</div>-->
<!--</div>-->