<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NXS.Lib.EchoSign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NXS.Lib.EchoSign.Properties.Settings>
            <setting name="NXS_Lib_EchoSign_com_echosign_nexsense_EchoSignDocumentService19"
                serializeAs="String">
                <value>https://nexsense.echosign.com/services/EchoSignDocumentService19</value>
            </setting>
        </NXS.Lib.EchoSign.Properties.Settings>
    </applicationSettings>
</configuration>