<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<sectionGroup name="Preferences">
			<section name="PROD" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
			<section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
	</configSections>

	<Preferences>
		<PROD>
			<add key="Comments" value="Production Environment"/>
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBpBidhk4HvB/6c+z1b9BK7tQ+xvq+R8OMA5mLylX4Vq0F+2zgR8Avoy/n3/100C0gypyyrps5KAcPD8FIe7hqt/iVzXSZzzeL"/>
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVf4aYSAfSmEIadztZv0tlgJlNICNVFUk5HLevGEnssmiRzDB372N10oKTJ+RP4CKxOOZJJ0Q+RzWGgUJSwIYCZFZsDwNPYTx9A=="/>
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eAMiG3bQWEbWGIuCyOp7DhJq3/AY2cHS5ROKfezVUSxJ5GDOSTWggqmdtGkNkfb8D24GTGRnvDJaZGMl5CDPoJ9CO0mtNQ08pJ"/>
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibXVgaqnILCBMaQZfhBO/pSNEkeW2jkhLV+YUkmikPn38NUZIiv9t9P5LDC0bhHKrf+3FoYXm/oxNmTkkyOwtH42fhnVYXFhLeo=" />
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lX+GmEgH0phCGnc7Wb9LZYCZTSAjVRVJORy3rxhJ7LJokcwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ=" />
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoGkGJ2GTge8H/pz7PVv0Eru1D7G+r5Hw4wDmYvKVfhWrQX7bOBHwC+jL+ff/XTQLSDKnLKumzkoBw8PwUh7uGq3+JXNdJnPN4s=" />
			<add key="LogSourceID" value="1"/>
			<add key="FileSourceID" value="1"/>
			<add key="DealerBrochurePath" value="~/Content/OppDealerV003.pdf" />
			<add key="DealerBrochureFileName" value="DealerOppBrochureV3.PDF" />
			<add key="SalesBrochurePath" value="~/Content/OppSalesV001.pdf" />
			<add key="SalesBrochureFileName" value="SalesOppBrochureV1.PDF" />
			<add key="ClientBrochurePath" value="~/Content/FreedomSOSBrochure.pdf" />
			<add key="ClientBrochureFileName" value="BrochureV1.PDF" />
			<add key="LAIPAC.S911MaxFenceNumber" value="5" />
		</PROD>
		<DEV>
			<add key="Comments" value="Development Environment"/>
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBSKFA+TC+OPhF/i7QrbVWPnI3hw8QRVnXC9zC+5MxF+dHMMHfvY3XSgpMn5E/gIrE45kknRD5HNYaBQlLAhgJkVmwPA09hPH0"/>
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVa8exlQurl2dNZuxs8BkhRqt/wGNnB0uUYQ0C+ffZmE4Yig1eS5xqqbbRpDZH2/A9uBkxkZ7wyWmRjJeQgz6CfQjtJrTUNPKSQ=="/>
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmM1FcJTZsbinn2W9a249B08PO1J3ubE6Q0rhFSMlt0fFeqW1mqeVB90RPVzMjE4fULjyXr8p3gp29iFNVLPDjgyC3yE7Cto0829S9PeeDshFFTO7ViEvWTYXzuVLPf6ypc="/>
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibVAD4wvg0xwFkbl2Ixt1QGL1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2o4y5bzkBn7SfsdxFAwdJZU4dI5NnOVOQPRM4IM/dxopw=" />
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lWvHsZULq5dnTWbsbPAZIUarf8BjZwdLlGENAvn32ZhOGIoNXkucaqm20aQ2R9vwPbgZMZGe8MlpkYyXkIM+gn0I7Sa01DTykk=" />
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoFIoUD5ML44+EX+LtCttVY+cjeHDxBFWdcL3ML7kzEX50cwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ=" />
			<add key="MerchantStatus" value="TestMode" />
			<add key="LogSourceID" value="1"/>
			<add key="FileSourceID" value="1"/>
			<add key="DealerBrochurePath" value="~/Content/OppDealerV002.pdf" />
			<add key="DealerBrochureFileName" value="DealerOppBrochureV2.PDF" />
			<add key="SalesBrochurePath" value="~/Content/OppSalesV001.pdf" />
			<add key="SalesBrochureFileName" value="SalesOppBrochureV1.PDF" />
			<add key="ClientBrochurePath" value="~/Content/FreedomSOSBrochure.pdf" />
			<add key="ClientBrochureFileName" value="BrochureV1.PDF" />
			<add key="LAIPAC.S911MaxFenceNumber" value="5" />
		</DEV>
	</Preferences>

	<SubSonicService defaultProvider="RecruitingProvider">
		<providers>
			<clear />
			<add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
			<add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString" />
			<add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString" />
			<add name="SosReceiverEngineProvider" type="SOS.Data.SosReceiverEngineProvider, SOS.Data" connectionStringName="SosReceiverEngineConnString" />
			<add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString" />
			<add name="SosGpsTrackingProvider" type="SOS.Data.SosGpsTrackingProvider, SOS.Data" connectionStringName="SosGpsTrackingConnString" />
		</providers>
	</SubSonicService>

	<appSettings>
		<add key="Environment" value="DEV" />
		<add key="DomainName" value="sos.dealersite.local" />
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<customErrors>
			<error redirect="/Error/PageNotFound" statusCode="404" />
		</customErrors>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" />
			<error statusCode="404" responseMode="ExecuteURL" path="/Error/PageNotFound" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="http://sos.clientgpstracksite.local" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
				<add name="Access-Control-Expose-Headers" value="POST, GET, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<!--<add name="Access-Control-Allow-Cookies" value="*" />-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>