<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Preferences">
      <section name="PROD" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NXS.Clients.Wpf.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NXS.WpfClients.HiringManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SosCrmConnString" connectionString="Data Source=Localhost;Initial Catalog=WISE_CRM;Integrated Security=SSPI;" />
    <add name="SosAuthControlConnString" connectionString="Data Source=Localhost;Initial Catalog=WISE_AuthenticationControl;Integrated Security=SSPI;"/>
    <add name="SosLoggingConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Logging;Integrated Security=SSPI;" />

    <add name="SosAccountingConnString" connectionString="Data Source=Localhost;Initial Catalog=NXS_Accounting;Integrated Security=SSPI;" />
    <add name="FileStoreConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_FileStore;Integrated Security=SSPI;" />
    <add name="SosHumanResourceConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_HumanResource;Integrated Security=SSPI;" />
    <add name="InventoyConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Inventory;Integrated Security=SSPI;" />
    <add name="LicensingConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Licensing;Integrated Security=SSPI;" />
    <add name="SurveyEngineConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_SurveyEngine;Integrated Security=SSPI;" />
    <add name="ConnFileStore" connectionString="Data Source=PPUTDB01;Initial Catalog=Platinum_Protection_FileStore;Integrated Security=SSPI;" />
    <add name="ConnGreatPlains" connectionString="Data Source=PPUTGP02;Initial Catalog=PPROT;Integrated Security=SSPI;" />
    <add name="ConnLetters" connectionString="Data Source=PPUTDB01;Initial Catalog=Platinum_Protection_LetterDB;Integrated Security=SSPI;" />
  </connectionStrings>
  <Preferences>
    <PROD>
      <add key="Comments" value="Production Environment" />
      <add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBpBidhk4HvB/6c+z1b9BK7tQ+xvq+R8OMA5mLylX4Vq0F+2zgR8Avoy/n3/100C0gypyyrps5KAcPD8FIe7hqt/iVzXSZzzeL" />
      <add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVf4aYSAfSmEIadztZv0tlgJlNICNVFUk5HLevGEnssmiRzDB372N10oKTJ+RP4CKxOOZJJ0Q+RzWGgUJSwIYCZFZsDwNPYTx9A==" />
      <add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eAMiG3bQWEbWGIuCyOp7DhJq3/AY2cHS5ROKfezVUSxJ5GDOSTWggqmdtGkNkfb8D24GTGRnvDJaZGMl5CDPoJ9CO0mtNQ08pJ" />
      <add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lX+GmEgH0phCGnc7Wb9LZYCZTSAjVRVJORy3rxhJ7LJokcwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ=" />
      <add key="SseSurveyEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmPSqTRKJdDM7vlY1PQMIS/JA+x0QnmJM5M3QdBf/zarXniO2mlxtthRcjeHDxBFWdcL3ML7kzEX50cwwd+9jddKCkyfkT+AisTm7FNQrMwD30beb26fVRTM8BN1kdDD+tA=" />
      <add key="NxsFileStoreConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAGMUtBPQe1iy3HHTQAPMl3CkK/xUVUL4asUSul8/pAgl5COQW5Bfhes1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2oRrChzNSffBeJgO2nEXFAdhErPKO/Plb0JIH76TNuOD8iavIomnPbkH4Z1WFxYS3q" />
      <add key="NxsInventoyConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAGpfMbSDqdkxTuQgM11Fed6kK/xUVUL4asUSul8/pAgl5COQW5Bfhes1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2oRrChzNSffBeJgO2nEXFAdhErPKO/Plb0JIH76TNuOD8iavIomnPbkH4Z1WFxYS3q" />
      <add key="NxsLicensingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAG4hHw4Iyeh5BEEs3taAS6zkK/xUVUL4asUSul8/pAgl5COQW5Bfhes1Hnhpo6XzIk++ef/0vjOC9CSVLFpwr2oRrChzNSffBeJgO2nEXFAdhErPKO/Plb0JIH76TNuOD8iavIomnPbkH4Z1WFxYS3q" />
      <add key="NxsAccountingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAHAOgINU5iZlQP0jlMbHu0FITaEbNSXWifwD52kcxQmSM8OhfXlQkoXtrIPOmjDyPFwuVw5TQUfmQX7bOBHwC+jL+ff/XTQLSAANEp5eK5147rXnA6uIOpAryzr17NIKqAMbhPIIpf3mApnrxtkivoJ" />
      <add key="NxsLettersConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAEXwarABYBJgkdGdDwSTP8nEjhLA/nhM5dytgbA+6W3HqQZfhBO/pSNQKhrrt2iI+GV7OwUGP3QO9UZIiv9t9P5KrvwodCTCmjpQE1fdtU/OpVeXd3Q04YmHx2IdnfL0efVQXPzySYPcg==" />
      <add key="NxsGreatPlainsConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAGZiNOtuTf0CLS4mUebzNzAUKXA5MzrkoHx5diTA001Nh8RONlngx5edmDWpNCyZUi28gpUYskl8fZHyGIZgJBCEJwlWHKxeAh6Q9BzY3WUWbedT2j2Vy0kpyJzzsArL2TWpI1vqDFD1Cqum4r2pGBm" />
      <add key="Domain" value="ls4WtXdW5Z30iMO1F9qA8HcNjnmiK68L"/><!-- corp.nexsense.com -->
			<add key="ADPAth" value="eYLIREvOzKbTV9u2UlJ97qaXNwfh6OZpfhnVYXFhLeo="/><!-- LDAP://corp.nexsense.com -->
			<add key="ADUser" value="fp2ZoXf29lU="/><!-- asosa -->
			<add key="ADPassword" value="hqoqCyxZICOVJ1ZK+Q/RIw=="/><!-- ******** -->
			<add key="ADUsersPath" value="YWfBGOs5fMFJiHgyTUnFzH4Z1WFxYS3q"/><!-- OU=CORPNEXSENSE, -->
      <add key="LogSourceID" value="10" />
    </PROD>
    <DEV>
      <add key="Comments" value="Development Environment" />
      <add key="SosCrmConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdgHxCvmsKPy/+89U7kQueo5okDvdkht+UycfkIFknMdErihUplIgyJ02JL1n6OvW82R+/WQoPclBFK9g0SzaYcbw0Rj3TVx8+UplEytetyonbRpDZH2/A9n28IcKpvzIXnC+k0NvhxgSnInPOwCsvZNakjW+oMUPUKq6bivakYGY=" />
      <add key="SosAuthControlConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdkkXuSuq/m/CeIvOpQtkmNYTsa6dVlIVX1g6sq3kss/VKjmEp+++SGHrp5gnIpjKzf8RFwtqc03UWEGFvggxqP/6+RuV6X28yvU0jlZOZJS1pO/VD63g8vuf4bv2MTTKm2IU1Us8OODLmjfpd2SAZHTy4iWKlmQbcuEOYHb7qBUJBzu7g/BiQendRZVc9sEzv" />
      <add key="SosLoggingConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdGe3XLIM23w4b5mA7nMtBE0T3mtwXa0q9Ub+pr7xqy/RBKnIgPFdSpqtvUZ95bPscY7MHWwL2bSOkGX4QTv6UjbH/MoNKCu2K5rhDz/SiQ20F+2zgR8Avoy/n3/100C0g+6CvQ4P3pQKVXl3d0NOGJh8diHZ3y9Hn1UFz88kmD3I=" />
      <add key="SosHumanResourceConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8Ud1ibGK7487mx23AIbCGptTIf9d7052NQ6So5hKfvvkhh66eYJyKYys3/ERcLanNN1FhBhb4IMaj/+vkblel9vMr1NI5WTmSUtaTv1Q+t4PL7n+G79jE0yptiFNVLPDjgy5o36XdkgGR08uIlipZkG3LhDmB2+6gVCQc7u4PwYkHp3UWVXPbBM7w==" />
      <add key="SseSurveyEngineConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdrP8jVQnzTtXwtT3R8j66lH+LoH2N0ax1EkUKsW8Lf8jfpgiOEy3G2XaNLB+6ySjeS+76siQkAkBZurW/fDP2iRpNoNmdUg/6OXN2wLozrekYqYde+SD66dUZIiv9t9P5hBWqbGxAFDe0lihXABZRaOlRFiQAfYPcXob3wMlHZPn9a7pGO5/7hw==" />
      <add key="NxsFileStoreConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8Ud1gglMS6GvoFvubK2zG3ni3pBtLNOBLvrh0u1yr1S7aucioRlrfocRuOWhPolFKLTVLNrubI0+N6KzHZGnG08+K7RJA9s7n6WD3unvfT8aEBHMMHfvY3XSgpMn5E/gIrEzunIU4040rEtNZWs4oTOmiSB++kzbjg/ImryKJpz25B+GdVhcWEt6g==" />
      <add key="NxsInventoyConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdOZDoLBqjWXQh/WCheR4Bf3pBtLNOBLvrh0u1yr1S7aucioRlrfocRuOWhPolFKLTVLNrubI0+N6KzHZGnG08+K7RJA9s7n6WD3unvfT8aEBHMMHfvY3XSgpMn5E/gIrEzunIU4040rEtNZWs4oTOmiSB++kzbjg/ImryKJpz25B+GdVhcWEt6g==" />
      <add key="NxsLicensingConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdlvxrEfL7ud9KbdoV7z36o3pBtLNOBLvrh0u1yr1S7aucioRlrfocRuOWhPolFKLTVLNrubI0+N6KzHZGnG08+K7RJA9s7n6WD3unvfT8aEBHMMHfvY3XSgpMn5E/gIrEzunIU4040rEtNZWs4oTOmiSB++kzbjg/ImryKJpz25B+GdVhcWEt6g==" />
      <add key="NxsAccountingConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8Udgb6yK33evR5SALtedrm9Hzb9vFalQp1JSERy7FJx/cAbL7ky6uPMChQcsES6/p4DWiDkP8c5B+MWtGsrukKR+Vrrki7JcfgujkT6+Ru91r8KkLIQwu7z0qPxI7njwvKpdlyHGrH0sV6XYrtH9hMhRq8s69ezSCqgDG4TyCKX95gKZ68bZIr6CQ==" />
      <add key="NxsLettersConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdyJXHHRHimaCv0LrE1OTH3UT3mtwXa0q9Ub+pr7xqy/RBKnIgPFdSpqtvUZ95bPscY7MHWwL2bSOkGX4QTv6UjbH/MoNKCu2K5rhDz/SiQ20F+2zgR8Avoy/n3/100C0g+6CvQ4P3pQKVXl3d0NOGJh8diHZ3y9Hn1UFz88kmD3I=" />
      <add key="NxsGreatPlainsConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdGgFiZ4mUHSU8HgvLBI9CaOT4sYnZtKkEmiQO92SG35TJx+QgWScx0SuKFSmUiDInTYkvWfo69bzZH79ZCg9yUEUr2DRLNphxvDRGPdNXHz5SmUTK163KidtGkNkfb8D2fbwhwqm/MhecL6TQ2+HGBKcic87AKy9k1qSNb6gxQ9QqrpuK9qRgZg==" />
      <add key="Domain" value="ls4WtXdW5Z30iMO1F9qA8HcNjnmiK68L"/><!-- corp.nexsense.com -->
			<add key="ADPAth" value="eYLIREvOzKbTV9u2UlJ97qaXNwfh6OZpfhnVYXFhLeo="/><!-- LDAP://corp.nexsense.com -->
			<add key="ADUser" value="fp2ZoXf29lU="/><!-- asosa -->
			<add key="ADPassword" value="hqoqCyxZICOVJ1ZK+Q/RIw=="/><!-- ******** -->
			<add key="ADUsersPath" value="YWfBGOs5fMFJiHgyTUnFzH4Z1WFxYS3q"/><!-- OU=CORPNEXSENSE, -->
      <add key="LogSourceID" value="10" />
    </DEV>
  </Preferences>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <SubSonicService defaultProvider="SosHumanResourceProvider">
    <providers>
      <clear />
      <add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
      <add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString" />
      <add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString" />
      <add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString" />
      <add name="SseSurveyEngineProvider" type="SOS.Data.SseSurveyEngineProvider, SOS.Data" connectionStringName="SseSurveyEngineConnString" />
      <add name="NxsFileStoreProvider" type="SOS.Data.NxsFileStoreProvider, SOS.Data" connectionStringName="NxsFileStoreConnString" />
      <add name="NxsInventoryProvider" type="SOS.Data.NxsInventoryProvider, SOS.Data" connectionStringName="NxsInventoyConnString" />
      <add name="NxsLicensingProvider" type="SOS.Data.NxsLicensingProvider, SOS.Data" connectionStringName="NxsLicensingConnString" />
      <add name="NxsAccountingProvider" type="SOS.Data.NxsAccountingProvider, SOS.Data" connectionStringName="NxsAccountingConnString" />
      <add name="NxsLettersProvider" type="SOS.Data.NxsLettersProvider, SOS.Data" connectionStringName="NxsLettersConnString" />
      <add name="NxsGreatPlainsProvider" type="SOS.Data.NxsGreatPlainsProvider, SOS.Data" connectionStringName="NxsGreatPlainsConnString" />
    </providers>
  </SubSonicService>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>