<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TEMPLATE_DIRECTORIES" value="~/js/views"/>
		<add key="RenderMode" value="Debug"/>
		<!--<add key="Iis6StaticContentHack" value="true" />-->
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!--<httpModules>
			<add name="TemplateModule" type="SOS.Clients.MVC.DealerSite.Support.TemplateModule, SOS.Clients.MVC.DealerSite"/>
		</httpModules>

		<identity impersonate="false" />-->
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="TemplateModel" type="SOS.Clients.MVC.DealerSite.Support.TemplateModule" />
		</modules>
		<caching enabled="true" enableKernelCache="true">
			<profiles>
				<add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
			</profiles>
		</caching>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
