body {
	border-width: 0px;
	margin: 0px;
	background-color: rgba(127, 127, 127, 0.48);
}
div.ssLogo {
	background-color: #D5D6DA;
	display: inline-block;

	position: relative;
	left: 718px;
	top: 5px;
	width: 275px;
	padding-left: 14px;

	/** Drop shadow. */
	-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);
}
div.mainRootDiv {
	width: 1024px; height: 768px;
	margin: auto;
	background-color: #ebeceb;

	/** Drop shadow. */
	-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .5);

}
div.mainHeaderDiv {
	height: 56px;
	width: 100%;
	/** Webkit. */
	background: -webkit-gradient(linear, left top, left bottom, from(#E8EAED), to(#5E5F60));
	/** Firefox */
	background: -moz-linear-gradient(top,  #E8EAED,  #5E5F60);
	/** IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EAED', endColorstr='#5E5F60');
}

div.mainMenuDiv {
	width: 56px; height:712px;
	background-color: #e8eaed;
	display: inline-block;
}


div#map {
    position: relative;
  }



/** Main Menu Buttons. */
/** |- Information */
.btnMain {
	width:56px; height: 56px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}



div.btnInformation {
	background: transparent url('../images/Buttons/information.png') no-repeat;
}
div.btnInformation:hover {
	background: transparent url('../images/Buttons/information_hover.png') no-repeat;
}
div.btnAlerts {
	background: transparent url('../images/Buttons/alerts.png') no-repeat;
}
div.btnAlerts:hover {
	background: transparent url('../images/Buttons/alerts_hover.png') no-repeat;
}
div.btnMedicalTracker {
	background: transparent url('../images/Buttons/medicalTracker.png') no-repeat;
}
div.btnMedicalTracker:hover {
	background: transparent url('../images/Buttons/medicalTracker_hover.png') no-repeat;
}
div.btnKidTracker {
	background: transparent url('../images/Buttons/kidTracker.png') no-repeat;
}
div.btnKidTracker:hover {
	background: transparent url('../images/Buttons/kidTracker_hover.png') no-repeat;
}
div.btnCarTracker {
	background: transparent url('../images/Buttons/carTracker.png') no-repeat;
}
div.btnCarTracker:hover {
	background: transparent url('../images/Buttons/carTracker_hover.png') no-repeat;
}

div.btnPetTracker {
	background: transparent url('../images/Buttons/petTracker.png') no-repeat;
}
div.btnPetTracker:hover {
	background: transparent url('../images/Buttons/petTracker_hover.png') no-repeat;
}

div.btnHomeSecurity{
	background: transparent url('../images/Buttons/homeSecurity.png') no-repeat;
}
div.btnHomeSecurity:hover {
	background: transparent url('../images/Buttons/homeSecurity_hover.png') no-repeat;
}




/** |- Properties */
div.btnProperties {
	background: transparent url('../images/Buttons/settings.png') no-repeat;
	top: 230px;
}
div.btnProperties:hover {
	background: transparent url('../images/Buttons/settings_hover.png') no-repeat;
}

