<!-- TemplateId: raw LeadsPanel.html -->
<div id="leads-panel-main">
	<div class="card-hdr" style="float: right;">LeadID: <strong>{leadId}</strong></div>
	<div class="card-sys-tab">SID: 32334 <canvas id="moni-status32334" style="width:15px;height:15px;padding: 2px 2px 0 20px;"></canvas></div>
	<div class="card-sys-tab selected">SID: 34343 <canvas id="moni-status34343" style="width:15px;height:15px;padding: 2px 2px 0 20px;"></canvas></div>
	<div class="card-sys-tab">SID: 32323 <canvas id="moni-status32323" style="width:15px;height:15px;padding: 2px 2px 0 20px;"></canvas></div>

	{spookyDude}
	<div id="lead-panel-content">

	</div>
</div>