<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SOS.Lib.TxtWire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SOS.Lib.TxtWire.Properties.Settings>
            <setting name="SOS_Lib_TxtWire_com_txtwire_www_WS_Billing" serializeAs="String">
                <value>http://www.txtwire.com/webservices/billing/2.0.0/</value>
            </setting>
        </SOS.Lib.TxtWire.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
