<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NXS.Logic.MonitoringStations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="NSE_Lib_Abara_com_abarasoftware_testblinkws_TU_TransUnionWS" value="https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx" />
	</appSettings>
	<SubSonicService defaultProvider="SosCrmProvider">
		<providers>
			<clear />
			<add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
			<add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString" />
			<add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString" />
			<add name="SosReceiverEngineProvider" type="SOS.Data.SosReceiverEngineProvider, SOS.Data" connectionStringName="SosReceiverEngineConnString" />
			<add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString" />
			<add name="SosGpsTrackingProvider" type="SOS.Data.SosGpsTrackingProvider, SOS.Data" connectionStringName="SosGpsTrackingConnString" />
			<add name="SseSurveyEngineProvider" type="SOS.Data.SseSurveyEngineProvider, SOS.Data" connectionStringName="SseSurveyEngineConnString" />
			<add name="NxsFundingProvider" type="NXS.Data.NxsFundingProvider, SOS.Data" connectionStringName="NxsFundingConnString" />
			<add name="NxsLicensingProvider" type="NXS.Data.NxsLicensingProvider, SOS.Data" connectionStringName="NxsLicensingString" />
		</providers>
	</SubSonicService>
	<applicationSettings>
		<NXS.Logic.MonitoringStations.Properties.Settings>
			<setting name="NXS_Logic_MonitoringStations_MoniWSI45_WSI" serializeAs="String">
				<value>https://mimasweb.monitronics.net/MIDI/MIDI.asmx</value>
				<!--<value>https://wstest.monitronics.net/MIDI_NEW/MIDI.asmx</value>-->
			</setting>
			<setting name="NXS_Logic_MonitoringStations_MoniBounceAPI_wwwBouncer" serializeAs="String">
				<value>https://ws.monitronics.net/BounceServiceR2/wwwBouncer.svc</value>
				<!--<value>https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc</value>-->
			</setting>
		</NXS.Logic.MonitoringStations.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-SSE.Services.CmsCORS-20130925094104.mdf;Initial Catalog=aspnet-SSE.Services.CmsCORS-20130925094104;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime />
		<authentication mode="Windows" />
		<!--<authorization>
			<deny users="?"/>
		</authorization>-->
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
		<identity impersonate="true" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="HttpCorsModule" type="NXS.Lib.Web.HttpCorsModule" />
			<!--<add name="HttpErrorModule" type="NXS.Lib.Web.HttpErrorModule" />-->
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
		</handlers>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NorthAmericanAddressVerificationServiceSoap" />
				<binding name="CorrectAddressWebServiceSoap" />
				<binding name="CustomerManagementSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ValidateSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ReceiverSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ReceiverSoap1" />
				<!--<binding name="SiteGroupGatewaySoap">
					<security mode="Transport"/>
				</binding>-->
				<binding name="SiteGroupGatewaySoap1" />
				<binding name="EquifaxWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="EquifaxWSSoap1" />
				<binding name="ExperianWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ExperianWSSoap1" />
				<binding name="TransUnionWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="TransUnionWSSoap1" />
			</basicHttpBinding>
			<customBinding>
				<binding name="SiteGroupGatewaySoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport maxReceivedMessageSize="2000000000" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://ws.strikeiron.com/StrikeIron/NAAddressVerification6/NorthAmericanAddressVerificationService" binding="basicHttpBinding" bindingConfiguration="NorthAmericanAddressVerificationServiceSoap" contract="SI_NorthAmericanAddressVerification.NorthAmericanAddressVerificationServiceSoap" name="NorthAmericanAddressVerificationServiceSoap" />
			<endpoint address="http://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrectAddressWebServiceSoap" contract="IS_CorrectAddress.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap" />

			<endpoint address="https://alarmadmin.alarm.com/webservices/customermanagement.asmx" binding="basicHttpBinding" bindingConfiguration="CustomerManagementSoap" contract="AlarmComWebService.CustomerManagementSoap" name="CustomerManagementSoap" />
			<endpoint address="https://alarmadmin.alarm.com/WebServices/Validate.asmx" binding="basicHttpBinding" bindingConfiguration="ValidateSoap" contract="AlarmComWebServiceValidate.ValidateSoap" name="ValidateSoap" />

			<endpoint address="https://portal.agmonitoring.com/testsgssignalservice/receiver.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiverSoap" contract="AGSignalService.ReceiverSoap" name="ReceiverSoap" />
			<!--<endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="basicHttpBinding" bindingConfiguration="SiteGroupGatewaySoap" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap"/>-->
			<endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="customBinding" bindingConfiguration="SiteGroupGatewaySoap12" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap12" />

			<endpoint address="https://testblinkws.abarasoftware.com/EQ/EquifaxWS.asmx" binding="basicHttpBinding" bindingConfiguration="EquifaxWSSoap" contract="com.abarasoftware.blinkws.EQ.EquifaxWSSoap" name="EquifaxWSSoap" />
			<endpoint address="https://testblinkws.abarasoftware.com/EX/ExperianWS.asmx" binding="basicHttpBinding" bindingConfiguration="ExperianWSSoap" contract="com.abarasoftware.blinkws.EX.ExperianWSSoap" name="ExperianWSSoap" />
			<endpoint address="https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx" binding="basicHttpBinding" bindingConfiguration="TransUnionWSSoap" contract="com.abarasoftware.blinkws.TU.TransUnionWSSoap" name="TransUnionWSSoap" />


		</client>
	</system.serviceModel>
</configuration>
