<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<sectionGroup name="Preferences">
			<section name="STAG" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
			<section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NXS.Logic.MonitoringStations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Environment" value="DEV" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="NSE_Lib_Abara_com_abarasoftware_testblinkws_TU_TransUnionWS" value="https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx" />
	</appSettings>
	<Preferences>
		<STAG>
			<add key="Comments" value="Stage Environment" />
			<add key="Access-Control-Allow-Credentials" value="true" />
			<add key="Access-Control-Allow-Origin" value="http://dev-crm.nexsense.com:8080,http://crm.stg.nexsense.com" />
			<add key="Access-Control-Allow-Methods" value="GET,POST,DELETE" />
			<add key="Access-Control-Allow-Headers" value="Origin,X-Requested-With,Content-Type,Accept" />
			<add key="Access-Control-Expose-Headers" value="Content-Length" />
			<add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBzg9J7Qjf6DDrGaY5WGbT2eeq/3+gGy2vrf8BjZwdLlGENAvn32ZhOGIoNXkucaqm20aQ2R9vwPYHo2vx7c0ABIDbZK9Y1HwzHLbE77kInSN+GdVhcWEt6g==" />
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVW8Vqm6gLnCrm6MQI9Kec+L0iMO1F9qA8OHjDll8UGfcRPVzMjE4fULjyXr8p3gp29iFNVLPDjgyritTkHf6tqMzUznSpT3fUyvuHVJKZpj+D4HaqkS+N6w=" />
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eAS30wQ+5xP2BoV855FvTiNCV2Qfa735UV6AHyS9oFTku2sg86aMPI8XC5XDlNBR+ZBfts4EfAL6Mv59/9dNAtIAwtJfCajvkw3C4cfAvtWRcMyrTVhlUoFg==" />
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibUxubkC77KC1cbuutvSjtt63HdJ37hAX7V2YNak0LJlSLbyClRiySXx9kfIYhmAkEIQnCVYcrF4CM5zFL+ytJVcrLt5akzz+f57Fo08FYIqOA==" />
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lVvFapuoC5wq5ujECPSnnPi9IjDtRfagPDh4w5ZfFBn3ET1czIxOH1C48l6/Kd4KdvYhTVSzw44Mq4rU5B3+rajM1M50qU931Mr7h1SSmaY/g+B2qpEvjes" />
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoHOD0ntCN/oMOsZpjlYZtPZ56r/f6AbLa+t/wGNnB0uUYQ0C+ffZmE4Yig1eS5xqqbbRpDZH2/A9geja/HtzQAEgNtkr1jUfDMctsTvuQidI34Z1WFxYS3q" />
			<add key="SseSurveyEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmPSqTRKJdDM7vlY1PQMIS/JA+x0QnmJM5Nj2HEFAnPXMi1Ks20pDm0Pppc3B+Ho5mmkGX4QTv6UjUCoa67doiPhlezsFBj90DvVGSIr/bfT+QcPiTwwjSDs2YPbzx28LP5k5JMjsLR+NhQCP7qMdZuP" />
			<add key="NxsFundingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAEoAb3dmI4G4X2W9a249B08S30wQ+5xP2BoV855FvTiNCV2Qfa735UV6AHyS9oFTku2sg86aMPI8XC5XDlNBR+ZBfts4EfAL6Mv59/9dNAtIAwtJfCajvkw3C4cfAvtWRcMyrTVhlUoFg==" />
			<add key="LogSourceID" value="1" />
			<add key="FileSourceID" value="1" />
			<add key="AddressVerification_Vendor" value="t2uPD+cM1piMZDnde5NW4A==" /><!-- STRIKEIRON -->
			<add key="AddressVerification_Vendor_INTELSEARCH" value="9sIcpiMfQoP/0IAiTithSQ==" /><!-- INTELSEARCH -->
			<add key="AddressVerification_Vendor_SMARTYSTREET" value="0sAzPr0GGJ6Bt8gtPK7XjA==" /><!-- SMARTYSTREET -->
			<add key="AddressVerification_StrikeIronUID" value="7lLZp3OchcPxabVbbv3cRs61H13mrlsup5dQtae5qF0=" /><!-- securitysciences@strikeiron.com -->
			<add key="AddressVerification_StrikeIronPWD" value="C6brkmti0N3FvoA+yvqjWw==" /><!-- SStrial13 | strikeiron1 -->
			<add key="AddressVerification_StrikeIronKEY" value="l2CUncax9svpN5FW6rDIjFBNIPF8qrfE" /><!--96E912892990585CE7A3-->
			<add key="AddressVerification_IntelligentSearchUID" value="f/oXEJYSDzc=" /><!-- andres -->
			<add key="AddressVerification_IntelligentSearchPWD" value="TKQ/unUQnjp+GdVhcWEt6g==" /><!-- Toys -->
			<add key="AddressVerification_IntelligentSearchFilePath" value="jbiFEouTrIpCAGafw8MM9iAcKj9IijYAla9aOuc1R8rORknU7bz6ww==" /><!-- C:\SOP\IntelligentSearch\{0}_{1}.Txt -->
			<add key="AddressVerification_SmartyStreetApiUrl" value="BWkvNVtYYSULWkPN/ojaLpJkv3eZMmnfdEkIBZHHjJBw0wT6l11RxCttFrvW5rh+" /><!-- https://api.smartystreets.com/street-address/ -->
			<add key="AddressVerification_SmartySAuthID" value="Sl2BQ3YQs8sj8L3u3/U6OUCm6FQS89vAuz5jxDrfn2IQcJ+zNSY8Sg==" /><!-- 5d6e79cf-3a64-41c8-8ffe-a27a26b969d5 -->
			<add key="AddressVerification_SmartySAuthToken" value="VtfqHtePcJZp4BLtNcTv5bOMrgUKKsOUjZVzvne1L4EdQFwpRYlmql0ygCitEj+OzmK9th7svqgQbosnBE+PCrdaxNh7PLgXR1rCkTeSV3MPApqeAn9c76K7JU65EWbW0Xo80W8s5+4=" /><!-- SZ9YPawdz%2BL4ChFce25lP9w7UISP1CISVkbvKWEFFOVnkEnaEltToZursOX2f34UU%2FvLKBIj%2BKUNBPuqJ7TuzA%3D%3D -->
			<add key="RU_UserImageLocal" value="//sse.somwhere.com/ruuserimage/" />
			<add key="ImagePath_LoremPixelUse" value="true" />
			<add key="ImagePath_LoremPixelURL_People" value="//lorempixel.com/{WIDTH}/{HEIGHT}/people/" />
			<add key="ImagePath_Avatars" value="//{DOMAIN}{PORT}/images/Avatar/{UserID}_{WIDTH}x{HEIGHT}.png" />
			<add key="CreditReport_Vendor" value="jYGNXsyz8Eo=" /><!-- ABARA -->
			<add key="CreditReport_Vendor_MICROBILT" value="/h2Ny1TwHl1GBVfw3nmONA==" /><!-- MICROBILT -->
			<add key="CreditReport_Vendor_HART" value="gTZ67sHDBzw=" /><!-- HART -->
			<add key="CreditReport_Vendor_ABARA_TU_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshPs+fKhFaEMzJ/jHSflalHL/OplpnW+UvA=" /><!--https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_EQ_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshMysAUMJlEqkXR0Kfsi6TJsUaKCKJHjayc=" /><!--https://blinkws.abarasoftware.com/EQ/EquifaxWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_EX_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshNoN6auySwpSA4Pz+SrMCaWz2zDoc5G7RM=" /><!--https://blinkws.abarasoftware.com/EX/ExperianWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_CRP_UID" value="Kh6MFjsFrMsGjB9TknOLVg==" /><!--Xrt1KjwCU8-->
			<add key="CreditReport_Vendor_ABARA_CRP_PWD" value="k1ZpbI43o3oDamQR08Gr/A==" /><!--VcpHwqCZaF-->
			<add key="CreditReport_Vendor_ABARA_WIN_UID" value="9mA3u0/r87eRJi9RmaOFMA==" /><!--blinkws_user2-->
			<add key="CreditReport_Vendor_ABARA_WIN_PWD" value="lsIEa8+TYGiocmZBM1ugAm2VQ9aZJkXq" /><!--RSk3WpAyRyYndbtvxrpb-->
			<add key="CreditReport_Vendor_ABARA_Mock_FALSE" value="Something" />
			<add key="CreditReport_Vendor_HART_ENDPOINT" value="BWkvNVtYYSUoD8tzNwv7thVkY1rAAinUqBjl3dH77Zu3lYF8W1RdlhIR4rd14caTfhnVYXFhLeo="/><!--https://www.creditsystem.com/cgi-bin/pccreditxml-->
			<add key="CreditReport_Vendor_HART_CRP_UID" value="+6CvQ4P3pQKu1zEyTV035A=="/><!--Nexsense17-->
			<add key="CreditReport_Vendor_HART_CRP_PWD" value="/j8PZqgF+aB+GdVhcWEt6g=="/><!--5381Moni-->
			<add key="CreditService_BureauListOrder" value="TU" />
			<add key="AG_USERNAME" value="+6CvQ4P3pQJkMMDly8bHsA==" /><!--NexsenseAPI-->
			<add key="AG_PASSWORD" value="VfwdHnIdbCehKwTObQu9yw==" /><!--r@sc@l!14-->
			<add key="AG_GATEWAY_ENDPNT" value="BWkvNVtYYSVqTagWkMOp8wuvAt1OjdnoKe6BbbACd0qW9Y9h2Ug3dMxjNbh5uoeBqAZoGpqPyd3uzZq0N8d8P6HGCXjQ0nat" /><!--https://portal.agmonitoring.com/stagesexternalgateway/gateway.aspx-->
			<add key="Domain" value="ls4WtXdW5Z30iMO1F9qA8HcNjnmiK68L" /><!-- corp.nexsense.com -->
			<add key="ADPAth" value="eYLIREvOzKbTV9u2UlJ97qaXNwfh6OZpfhnVYXFhLeo=" /><!-- LDAP://corp.nexsense.com -->
			<add key="ADUser" value="/f/s9Vld+Bh+GdVhcWEt6g==" /><!-- sosawise -->
			<add key="ADPassword" value="NEOvHYvqBJ+VJ1ZK+Q/RIw==" /><!-- ********* -->
			<add key="ADUsersPath" value="YWfBGOs5fMFJiHgyTUnFzH4Z1WFxYS3q" /><!-- OU=CORPNEXSENSE, -->
			<add key="MN_USERNAME" value="xu6629KO23q4qaIYV2M+lg==" /><!-- ********* -->
			<add key="MN_PASSWORD" value="xu6629KO23q4qaIYV2M+lg==" /><!-- ********* -->
		</STAG>
		<DEV>
			<add key="Comments" value="Development Environment" />
			<add key="Access-Control-Allow-Credentials" value="true" />
			<add key="Access-Control-Allow-Origin" value="http://dev-crm.nexsense.com:8080,http://prod-crm.nexsense.com:8080" />
			<add key="Access-Control-Allow-Methods" value="GET,POST,DELETE" />
			<add key="Access-Control-Allow-Headers" value="Origin,X-Requested-With,Content-Type,Accept" />
			<add key="Access-Control-Expose-Headers" value="Content-Length" />
			<add key="SosCrmConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdgHxCvmsKPy/+89U7kQueo5okDvdkht+UycfkIFknMdErihUplIgyJ02JL1n6OvW82R+/WQoPclBFK9g0SzaYcbw0Rj3TVx8+UplEytetyonbRpDZH2/A9n28IcKpvzIXJpg2aYmFwdor7h1SSmaY/g+B2qpEvjes" /><!--Data Source=db1.dev.nexsense.com;Initial Catalog=WISE_CRM;Persist Security Info=True;User ID=devUser;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6kD2eo2WKU9+WHCRjr43aU6DQPfUJnYk4SE2hGzUl1on7RLEHF+d3FMh5dS2sD9lZ52dK+sIHsasvU0jlZOZJS1pO/VD63g8vuf4bv2MTTKm2IU1Us8OODLmjfpd2SAZHQnIUr3xQ0DJ3C4cfAvtWRcMyrTVhlUoFg==" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_AuthenticationControl;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6p4g3mYiB7t6A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mmkGX4QTv6UjbH/MoNKCu2K5rhDz/SiQ20F+2zgR8Avoy/n3/100C0g+6CvQ4P3pQLPrvO+cAxrRxo9mRB2GfuR" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_LOGGING;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6tA5MwzK6V/wq+RSgIXU0lVvFapuoC5wq0jO7f9qva6L9IjDtRfagPDh4w5ZfFBn3DchE3JSdrpC/JnFfI/4x+H2R8hiGYCQQhCcJVhysXgIfQYwL8RVG9oZW8MeLptAIMaX8RvNvuNl" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_Receiver;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6mI0sdATRomfn/R8L6I3fGchNoRs1JdaJ+0SxBxfndxTIeXUtrA/ZWednSvrCB7GrL1NI5WTmSUtaTv1Q+t4PL7n+G79jE0yptiFNVLPDjgy5o36XdkgGR0JyFK98UNAydwuHHwL7VkXDMq01YZVKBY=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_HumanResource;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6sy82MRWZ4sHavNPBvCPNEkVY1KObzaJtW95xCfEcKTbxu6629KO23rcd0nfuEBftUUr2DRLNphxvDRGPdNXHz5SmUTK163KidtGkNkfb8D2fbwhwqm/MhcmmDZpiYXB2ivuHVJKZpj+D4HaqkS+N6w=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_GPSTRACKING;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SseSurveyEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6unU0t+H95WVbYNqp6gs4pGQr/FRVQvhqwFui/wk+jSzm7VxdG6Um0UIzgNynsTkFxpNoNmdUg/6OXN2wLozrekYqYde+SD66dUZIiv9t9P5hBWqbGxAFDdD7ZoB8bLELAH2kO1F+YLMfiUoAtguGkI=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_SurveyEngine;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="NxsFundingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnZee8Z82maAEoAb3dmI4G4X2W9a249B08S30wQ+5xP2CJAsYYYBXRliV2Qfa735UV6AHyS9oFTku2sg86aMPI8XC5XDlNBR+ZBfts4EfAL6Mv59/9dNAtIAwtJfCajvkw3C4cfAvtWRcMyrTVhlUoFg==" />
			<add key="LogSourceID" value="8" />
			<add key="FileSourceID" value="1" />
			<add key="AddressVerification_Vendor" value="t2uPD+cM1piMZDnde5NW4A==" /><!-- STRIKEIRON -->
			<add key="AddressVerification_Vendor_INTELSEARCH" value="9sIcpiMfQoP/0IAiTithSQ==" /><!-- INTELSEARCH -->
			<add key="AddressVerification_Vendor_SMARTYSTREET" value="0sAzPr0GGJ6Bt8gtPK7XjA==" /><!-- SMARTYSTREET -->
			<add key="AddressVerification_StrikeIronUID" value="7lLZp3OchcPxabVbbv3cRs61H13mrlsup5dQtae5qF0=" /><!-- securitysciences@strikeiron.com -->
			<add key="AddressVerification_StrikeIronPWD" value="C6brkmti0N3FvoA+yvqjWw==" /><!-- SStrial13 | strikeiron1 -->
			<add key="AddressVerification_StrikeIronKEY" value="l2CUncax9svpN5FW6rDIjFBNIPF8qrfE" /><!--96E912892990585CE7A3-->
			<add key="AddressVerification_IntelligentSearchUID" value="f/oXEJYSDzc=" /><!-- andres -->
			<add key="AddressVerification_IntelligentSearchPWD" value="TKQ/unUQnjp+GdVhcWEt6g==" /><!-- Toys -->
			<add key="AddressVerification_IntelligentSearchFilePath" value="jbiFEouTrIpCAGafw8MM9iAcKj9IijYAla9aOuc1R8rORknU7bz6ww==" /><!-- C:\SOP\IntelligentSearch\{0}_{1}.Txt -->
			<add key="AddressVerification_SmartyStreetApiUrl" value="BWkvNVtYYSULWkPN/ojaLpJkv3eZMmnfdEkIBZHHjJBw0wT6l11RxCttFrvW5rh+" /><!-- https://api.smartystreets.com/street-address/ -->
			<add key="AddressVerification_SmartySAuthID" value="L9NTa7Bz5H5eIXib+4N4qpNP4+L7akhfu4+/id3g8dIWka4Bl9Qdfg==" /><!-- d9c082fc-6b01-408e-aa45-c5f60eaa4ce3 -->
			<add key="AddressVerification_SmartySAuthToken" value="wjKlwW1SD+tpDyAEbvCdkLjDTZ5pnorU+Ch0ZJM5YPTIuaFRZDna9i7foFrsCHRLJQIJ9torAmkIfP0EyCGvN/6oYmO8hfw4NIho+Wf8VRP5Q0lLbiP+FM5KWIWGJEAH5++ecgY5kus=" /><!-- 7qWKIcNbHa%2FpBfWZ3%2BtI3Wlv2I5L8iX5YtEu%2Bbmzm%2Bt2LqYHmGTF9vwZ7n7AaMO7bNgBVxYQr%2FRZQNtvq3glqg%3D%3D -->
			<add key="RU_UserImageLocal" value="//sse.somwhere.com/ruuserimage/" />
			<add key="ImagePath_LoremPixelUse" value="true" />
			<add key="ImagePath_LoremPixelURL_People" value="//lorempixel.com/{WIDTH}/{HEIGHT}/people/" />
			<add key="ImagePath_Avatars" value="//{DOMAIN}{PORT}/images/Avatar/{UserID}_{WIDTH}x{HEIGHT}.png" />
			<add key="CreditReport_Vendor_ABARA" value="jYGNXsyz8Eo=" /><!-- ABARA -->
			<add key="CreditReport_Vendor" value="gTZ67sHDBzw=" /><!-- HART -->
			<add key="CreditReport_Vendor_ABARA_TU_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshPs+fKhFaEMzJ/jHSflalHL/OplpnW+UvA=" /><!--https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_EQ_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshMysAUMJlEqkXR0Kfsi6TJsUaKCKJHjayc=" /><!--https://blinkws.abarasoftware.com/EQ/EquifaxWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_EX_ENDPOINT" value="BWkvNVtYYSV2z2Sapl3WB7Mr44nZ896Bh/6+zU5bshNoN6auySwpSA4Pz+SrMCaWz2zDoc5G7RM=" /><!--https://blinkws.abarasoftware.com/EX/ExperianWS.asmx-->
			<add key="CreditReport_Vendor_ABARA_CRP_UID" value="Kh6MFjsFrMsGjB9TknOLVg==" /><!--Xrt1KjwCU8-->
			<add key="CreditReport_Vendor_ABARA_CRP_PWD" value="k1ZpbI43o3oDamQR08Gr/A==" /><!--VcpHwqCZaF-->
			<add key="CreditReport_Vendor_ABARA_WIN_UID" value="9mA3u0/r87eRJi9RmaOFMA==" /><!--blinkws_user2-->
			<add key="CreditReport_Vendor_ABARA_WIN_PWD" value="lsIEa8+TYGiocmZBM1ugAm2VQ9aZJkXq" /><!--RSk3WpAyRyYndbtvxrpb-->
			<add key="CreditReport_Vendor_ABARA_Mock_FALSE" value="Something" />
			<add key="CreditReport_Vendor_HART_ENDPOINT" value="BWkvNVtYYSUoD8tzNwv7thVkY1rAAinUqBjl3dH77Zu3lYF8W1RdlhIR4rd14caTfhnVYXFhLeo="/><!--https://www.creditsystem.com/cgi-bin/pccreditxml-->
			<add key="CreditReport_Vendor_HART_CRP_UID" value="+6CvQ4P3pQKu1zEyTV035A=="/><!--Nexsense17-->
			<add key="CreditReport_Vendor_HART_CRP_PWD" value="/j8PZqgF+aB+GdVhcWEt6g=="/><!--5381Moni-->

			<!--<add key="CreditReport_Vendor_MICROBILT" value="/h2Ny1TwHl1GBVfw3nmONA==" />--><!-- MICROBILT --><!--
			<add key="CreditReport_Vendor_ABARA_TU_ENDPOINT" value="3NPGH0+REf0DsZI95Gs1JQkKX16DYMK+FrIlaNJn+/L/v6aoPG6/Rh/F2DfqU2HU0ry4IovBXCyzF0qdXFi3qw==" />--><!--http://blinkws.abarasoftware.com/TU/TransUnionWS.asmx--><!--
			<add key="CreditReport_Vendor_ABARA_EQ_ENDPOINT" value="BWkvNVtYYSUfC4h6bZXatSSW4aFEzW61hdi4OgZ+4rIu1kLmlI6wDicJAy70iIMCoXk4MvJczss=" />--><!--https://blinkws.abarasoftware.com/EQ/EquifaxWS.asmx--><!--
			<add key="CreditReport_Vendor_ABARA_EX_ENDPOINT" value="BWkvNVtYYSUfC4h6bZXatSSW4aFEzW61hdi4OgZ+4rLRwR5ByeQpy5DtW6bCqMlDQHfpsELqnoV+GdVhcWEt6g==" />--><!--https://blinkws.abarasoftware.com/EX/ExperianWS.asmx--><!--
			<add key="CreditReport_Vendor_ABARA_CRP_UID" value="Kh6MFjsFrMsGjB9TknOLVg==" />--><!--TEST:hqRezp85AVZ||LIVE:Xrt1KjwCU8--><!--
			<add key="CreditReport_Vendor_ABARA_CRP_PWD" value="k1ZpbI43o3oDamQR08Gr/A==" />--><!--TEST:b7q5XuJQNHm||LIVE:VcpHwqCZaF--><!--
			<add key="CreditReport_Vendor_ABARA_WIN_UID" value="9mA3u0/r87cx0PxAKz05YQ==" />--><!--TEST:blinkwstest_user||LIVE:blinkws_user--><!--
			<add key="CreditReport_Vendor_ABARA_WIN_PWD" value="tI8B13ZEGm6wR57faL8BvpVD56pXIQay" />--><!--TEST:abara123!||LIVE:Fk1n6xdQAcddeDxeCXt1--><!--
			<add key="CreditReport_Vendor_ABARA_Mock_FALSE" value="Something" />-->
			<add key="CreditService_BureauListOrder" value="TU" />
			<add key="AG_USERNAME" value="+6CvQ4P3pQJ+GdVhcWEt6g==" /><!--Nexsense-->
			<add key="AG_PASSWORD" value="C6ql+hKKm6/l4mFyjo4nHQ==" /><!--n3xs3ns3$-->
			<add key="AG_GATEWAY_ENDPNT" value="BWkvNVtYYSVqTagWkMOp8wuvAt1OjdnoKe6BbbACd0rHVCEAFntvJ/MTiDYO+vSrsPFfOnwKIE+pD2Xpviu4HELwuJljp5g3" /><!--https://portal.agmonitoring.com/teststagesexternalgateway/gateway.aspx-->
			<!--<add key="NsqHostname" value="127.0.0.1" />-->
			<add key="Domain" value="4VscJyFYghOxpRh6jYkbzB3h63T9yCYA" /><!-- CORP.NEXSENSE.COM -->
			<add key="ADPAth" value="Iiv60a5gsqNKoGEZhOTOzX0Zx3t+xJwjfhnVYXFhLeo=" /><!-- LDAP://CORP.NEXSENSE.COM -->
			<add key="ADUser" value="/f/s9Vld+Bh+GdVhcWEt6g==" /><!-- sosawise -->
			<add key="ADPassword" value="NEOvHYvqBJ+VJ1ZK+Q/RIw==" /><!-- ******** -->
			<add key="ADUsersPath" value="YWfBGOs5fMFJiHgyTUnFzH4Z1WFxYS3q" /><!-- OU=CORPNEXSENSE, -->
			<add key="MN_USERNAME" value="vMQzZrgdJjBni7jb/df0/Q==" /><!-- wsi_828070003 -->
			<add key="MN_PASSWORD" value="7Z6P30znRDZ+GdVhcWEt6g==" /><!-- password -->
		</DEV>
	</Preferences>
	<SubSonicService defaultProvider="SosCrmProvider">
		<providers>
			<clear />
			<add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
			<add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString" />
			<add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString" />
			<add name="SosReceiverEngineProvider" type="SOS.Data.SosReceiverEngineProvider, SOS.Data" connectionStringName="SosReceiverEngineConnString" />
			<add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString" />
			<add name="SosGpsTrackingProvider" type="SOS.Data.SosGpsTrackingProvider, SOS.Data" connectionStringName="SosGpsTrackingConnString" />
			<add name="SseSurveyEngineProvider" type="SOS.Data.SseSurveyEngineProvider, SOS.Data" connectionStringName="SseSurveyEngineConnString" />
			<add name="NxsFundingProvider" type="NXS.Data.NxsFundingProvider, SOS.Data" connectionStringName="NxsFundingConnString" />
		</providers>
	</SubSonicService>
	<applicationSettings>
		<NXS.Logic.MonitoringStations.Properties.Settings>
			<setting name="NXS_Logic_MonitoringStations_MoniWSI45_WSI" serializeAs="String">
				<value>https://mimasweb.monitronics.net/MIDI/MIDI.asmx</value>
				<!--<value>https://wstest.monitronics.net/MIDI_NEW/MIDI.asmx</value>-->
			</setting>
		</NXS.Logic.MonitoringStations.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-SSE.Services.CmsCORS-20130925094104.mdf;Initial Catalog=aspnet-SSE.Services.CmsCORS-20130925094104;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime />
		<authentication mode="Windows" />
		<authorization>
			<deny users="?"/>
		</authorization>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
				<identity impersonate="true" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="HttpCorsModule" type="NXS.Lib.Web.HttpCorsModule" />
			<!--<add name="HttpErrorModule" type="NXS.Lib.Web.HttpErrorModule" />-->
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NorthAmericanAddressVerificationServiceSoap" />
				<binding name="CorrectAddressWebServiceSoap" />
				<binding name="CustomerManagementSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ValidateSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ReceiverSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ReceiverSoap1" />
				<!--<binding name="SiteGroupGatewaySoap">
					<security mode="Transport"/>
				</binding>-->
				<binding name="SiteGroupGatewaySoap1" />
				<binding name="EquifaxWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="EquifaxWSSoap1" />
				<binding name="ExperianWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="ExperianWSSoap1" />
				<binding name="TransUnionWSSoap">
					<security mode="Transport" />
				</binding>
				<binding name="TransUnionWSSoap1" />
			</basicHttpBinding>
			<customBinding>
				<binding name="SiteGroupGatewaySoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport maxReceivedMessageSize="2000000000" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://ws.strikeiron.com/StrikeIron/NAAddressVerification6/NorthAmericanAddressVerificationService" binding="basicHttpBinding" bindingConfiguration="NorthAmericanAddressVerificationServiceSoap" contract="SI_NorthAmericanAddressVerification.NorthAmericanAddressVerificationServiceSoap" name="NorthAmericanAddressVerificationServiceSoap" />
			<endpoint address="http://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrectAddressWebServiceSoap" contract="IS_CorrectAddress.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap" />

			<endpoint address="https://alarmadmin.alarm.com/webservices/customermanagement.asmx" binding="basicHttpBinding" bindingConfiguration="CustomerManagementSoap" contract="AlarmComWebService.CustomerManagementSoap" name="CustomerManagementSoap" />
			<endpoint address="https://alarmadmin.alarm.com/WebServices/Validate.asmx" binding="basicHttpBinding" bindingConfiguration="ValidateSoap" contract="AlarmComWebServiceValidate.ValidateSoap" name="ValidateSoap" />

			<endpoint address="https://portal.agmonitoring.com/testsgssignalservice/receiver.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiverSoap" contract="AGSignalService.ReceiverSoap" name="ReceiverSoap" />
			<!--<endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="basicHttpBinding" bindingConfiguration="SiteGroupGatewaySoap" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap"/>-->
			<endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="customBinding" bindingConfiguration="SiteGroupGatewaySoap12" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap12" />

			<endpoint address="https://testblinkws.abarasoftware.com/EQ/EquifaxWS.asmx" binding="basicHttpBinding" bindingConfiguration="EquifaxWSSoap" contract="com.abarasoftware.blinkws.EQ.EquifaxWSSoap" name="EquifaxWSSoap" />
			<endpoint address="https://testblinkws.abarasoftware.com/EX/ExperianWS.asmx" binding="basicHttpBinding" bindingConfiguration="ExperianWSSoap" contract="com.abarasoftware.blinkws.EX.ExperianWSSoap" name="ExperianWSSoap" />
			<endpoint address="https://blinkws.abarasoftware.com/TU/TransUnionWS.asmx" binding="basicHttpBinding" bindingConfiguration="TransUnionWSSoap" contract="com.abarasoftware.blinkws.TU.TransUnionWSSoap" name="TransUnionWSSoap" />


		</client>
	</system.serviceModel>
</configuration>
