<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NorthAmericanAddressVerificationServiceSoap"/>
                <binding name="CorrectAddressWebServiceSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="CorrectAddressWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.strikeiron.com/StrikeIron/NAAddressVerification6/NorthAmericanAddressVerificationService" binding="basicHttpBinding" bindingConfiguration="NorthAmericanAddressVerificationServiceSoap" contract="SI_NorthAmericanAddressVerification.NorthAmericanAddressVerificationServiceSoap" name="NorthAmericanAddressVerificationServiceSoap"/>
            <endpoint address="http://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrectAddressWebServiceSoap" contract="IS_CorrectAddress.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap"/>
            <endpoint address="http://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx" binding="customBinding" bindingConfiguration="CorrectAddressWebServiceSoap12" contract="IS_CorrectAddress.CorrectAddressWebServiceSoap" name="CorrectAddressWebServiceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
