#wc-container {
	background: #04385C;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	position: fixed;
	top:50%;
	left:50%;
	margin: -76px 0 0 -100px;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);; /* Opera 10.5, IE9, Chrome 10+ */
	overflow: hidden;
}
#wc-center {
	background: #242d08;
	width: 170px;
	height: 170px;
	border-radius: 200px;
	position: absolute;
	top:15px;
	left:15px;
	-moz-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
}
#wc-txt {
	color: #72BADD;
	position: relative;
	top:70px;
	left:20px;
	font: normal normal normal 14px/14px sans-serif;
	text-transform: uppercase;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: default;
}
#wc-txt span {
	color: #ffffff;
	display: block
}
#wc-spinner {
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px,200px,200px,100px);
	left: 300px;
	-moz-transform: rotate(330deg);
	-webkit-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	transform: rotate(330deg);
	top: 0;
	left: 0;
}
#wc-spinner .inside {
	background-color: #72BADD;
	border-color: #72BADD;
	-moz-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px,100px,200px,0px);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}