<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="Preferences">
      <section name="PROD" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="STAG" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SSE.Services.CORS-20130415173327;Integrated Security=SSPI" />
  </connectionStrings>-->
  <Preferences>
    <PROD>
      <add key="Comments" value="Production Environment" />
      <add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KBpBidhk4HvB/6c+z1b9BK7tQ+xvq+R8OMA5mLylX4Vq0F+2zgR8Avoy/n3/100C0gypyyrps5KAcPD8FIe7hqt/iVzXSZzzeL" />
      <add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVf4aYSAfSmEIadztZv0tlgJlNICNVFUk5HLevGEnssmiRzDB372N10oKTJ+RP4CKxOOZJJ0Q+RzWGgUJSwIYCZFZsDwNPYTx9A==" />
      <add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eAMiG3bQWEbWGIuCyOp7DhJq3/AY2cHS5ROKfezVUSxJ5GDOSTWggqmdtGkNkfb8D24GTGRnvDJaZGMl5CDPoJ9CO0mtNQ08pJ" />
      <add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibXVgaqnILCBMaQZfhBO/pSNEkeW2jkhLV+YUkmikPn38NUZIiv9t9P5LDC0bhHKrf+3FoYXm/oxNmTkkyOwtH42fhnVYXFhLeo=" />
      <add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lX+GmEgH0phCGnc7Wb9LZYCZTSAjVRVJORy3rxhJ7LJokcwwd+9jddKCkyfkT+AisTjmSSdEPkc1hoFCUsCGAmRWbA8DT2E8fQ=" />
      <add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoGkGJ2GTge8H/pz7PVv0Eru1D7G+r5Hw4wDmYvKVfhWrQX7bOBHwC+jL+ff/XTQLSDKnLKumzkoBw8PwUh7uGq3+JXNdJnPN4s=" />
      <add key="LogSourceID" value="1" />
      <add key="FileSourceID" value="1" />
      <add key="DealerBrochurePath" value="~/Content/OppDealerV003.pdf" />
      <add key="DealerBrochureFileName" value="DealerOppBrochureV3.PDF" />
      <add key="SalesBrochurePath" value="~/Content/OppSalesV001.pdf" />
      <add key="SalesBrochureFileName" value="SalesOppBrochureV1.PDF" />
      <add key="ClientBrochurePath" value="~/Content/FreedomSOSBrochure.pdf" />
      <add key="ClientBrochureFileName" value="BrochureV1.PDF" />
      <add key="LAIPAC.S911MaxFenceNumber" value="5" />
    </PROD>
    <STAG>
      <add key="Comments" value="Stage Environment" />
      <add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KB7dplRT3fV4d26LbEncn2G63/AY2cHS5RhDQL599mYThiKDV5LnGqpttGkNkfb8D2B6Nr8e3NAASsu3lqTPP5/nsWjTwVgio4" />
      <add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVRhliqII6KP9wPIV+5J6OX1Qy1pPU1IIxET1czIxOH1C48l6/Kd4KdvYhTVSzw44Mq4rU5B3+rajpeSruUfHcr/Gl/Ebzb7jZQ==" />
      <add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOVoyvgrvJkLOwtJdaM71eASDt2CFkeT9AUS0JyDcihOiL+wqKknte5trIPOmjDyPFwuVw5TQUfmQX7bOBHwC+jL+ff/XTQLSA7uO9bU0JUcmTkkyOwtH42FAI/uox1m48=" />
      <add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibVl5Rfo/b4N0tSyieyl+y4ddmDWpNCyZUi28gpUYskl8fZHyGIZgJBCEJwlWHKxeAhPw1iWNZVwSSvuHVJKZpj+D4HaqkS+N6w=" />
      <add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lUYZYqiCOij/cDyFfuSejl9UMtaT1NSCMRE9XMyMTh9QuPJevyneCnb2IU1Us8OODKuK1OQd/q2o6Xkq7lHx3K/xpfxG82+42U=" />
      <add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoHt2mVFPd9Xh3botsSdyfYbrf8BjZwdLlGENAvn32ZhOGIoNXkucaqm20aQ2R9vwPYHo2vx7c0ABKy7eWpM8/n+exaNPBWCKjg=" />
      <add key="LogSourceID" value="1" />
      <add key="FileSourceID" value="1" />
      <add key="DealerBrochurePath" value="~/Content/OppDealerV003.pdf" />
      <add key="DealerBrochureFileName" value="DealerOppBrochureV3.PDF" />
      <add key="SalesBrochurePath" value="~/Content/OppSalesV001.pdf" />
      <add key="SalesBrochureFileName" value="SalesOppBrochureV1.PDF" />
      <add key="ClientBrochurePath" value="~/Content/FreedomSOSBrochure.pdf" />
      <add key="ClientBrochureFileName" value="BrochureV1.PDF" />
      <add key="LAIPAC.S911MaxFenceNumber" value="5" />
    </STAG>
    <DEV>
      <add key="Comments" value="Development Environment" />
      <add key="SosCrmConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmOfDwxGAB786VClwOTM65KB8eXYkwNNNTYfETjZZ4MeXnZg1qTQsmVItvIKVGLJJfH2R8hiGYCQQhCcJVhysXgIEzOPjlPp/aGk0LCf7bPurKroLX4ai9MG" />
      <add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmORWQXSQVAzeBN5kULrTg+Q5lRC8rCutyCr5FKAhdTSVfxp2COOQrfjWJLfSRG8S0e9TSOVk5klLYaqKgssWSAjHBaYEDRLfpij8SO548Lyqbi5l37i22HouwmT1ubqWD3wE3WR0MP60A==" />
      <add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmM1FcJTZsbinn2W9a249B08EjhLA/nhM5dytgbA+6W3HqQZfhBO/pSNQKhrrt2iI+GV7OwUGP3QO9UZIiv9t9P5LDC0bhHKrf+3FoYXm/oxNmTkkyOwtH42fhnVYXFhLeo=" />
      <add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmO/oo/ziyaGzbtT6u09wFdlFWNSjm82ibVDQkKJQMFnjeQ6Hlw1lctMRPVzMjE4fULjyXr8p3gp29iFNVLPDjgyC3yE7Cto0829S9PeeDshFFTO7ViEvWTYXzuVLPf6ypc=" />
      <add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNwdAprrH95eb4Zp57rtvNqq+RSgIXU0lX8adgjjkK341iS30kRvEtHvU0jlZOZJS2GqioLLFkgIxwWmBA0S36Yo/EjuePC8qm4uZd+4tth6LsJk9bm6lg98BN1kdDD+tA=" />
      <add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotPl9Qur2+0EQVjzUmJJbmGnNSDtsQ4lTmNHlOPajcVdcijwU8xqf0a/UKXA5MzrkoHx5diTA001Nh8RONlngx5edmDWpNCyZUi28gpUYskl8fZHyGIZgJBCEJwlWHKxeAgTM4+OU+n9oaTQsJ/ts+6squgtfhqL0wY=" />
      <add key="MerchantStatus" value="TestMode" />
      <add key="LogSourceID" value="1" />
      <add key="FileSourceID" value="1" />
      <add key="DealerBrochurePath" value="~/Content/OppDealerV002.pdf" />
      <add key="DealerBrochureFileName" value="DealerOppBrochureV2.PDF" />
      <add key="SalesBrochurePath" value="~/Content/OppSalesV001.pdf" />
      <add key="SalesBrochureFileName" value="SalesOppBrochureV1.PDF" />
      <add key="ClientBrochurePath" value="~/Content/FreedomSOSBrochure.pdf" />
      <add key="ClientBrochureFileName" value="BrochureV1.PDF" />
      <add key="LAIPAC.S911MaxFenceNumber" value="5" />
    </DEV>
  </Preferences>
  <SubSonicService defaultProvider="RecruitingProvider">
    <providers>
      <clear />
      <add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
      <add name="SosAuthControlProvider" type="SOS.Data.SosAuthenticationControlProvider, SOS.Data" connectionStringName="SosAuthControlConnString" />
      <add name="SosLoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="SosLoggingConnString" />
      <add name="SosReceiverEngineProvider" type="SOS.Data.SosReceiverEngineProvider, SOS.Data" connectionStringName="SosReceiverEngineConnString" />
      <add name="SosHumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="SosHumanResourceConnString" />
      <add name="SosGpsTrackingProvider" type="SOS.Data.SosGpsTrackingProvider, SOS.Data" connectionStringName="SosGpsTrackingConnString" />
    </providers>
  </SubSonicService>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="DomainName" value="sos.dealersite.local" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="CorsHttpModule" type="Thinktecture.IdentityModel.Http.Cors.IIS.CorsHttpModule" />
			<remove name="WebDAVModule" />
		</modules>
    <httpProtocol>
      <customHeaders>
				<add name="Access-Control-Allow-Origin" value="http://dev.gpsclient.com:8080" />
				<!--<add name="Access-Control-Allow-Origin" value="http://sse.clientgpsv2.local,http://dev.gpsclient.com" />-->
				<!--<add name="Access-Control-Allow-Origin" value="http://sse.clientgpsv2.local,chrome-extension://hgmloofddffdnphfgcellkdfbfbjeloo" />-->
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
				<add name="Access-Control-Allow-Methods" value="ACCEPT,PROPFIND,PROPPATCH,COPY,MOVE,DELETE,MKCOL,LOCK,UNLOCK,PUT,GETLIB,VERSION-CONTROL,CHECKIN,CHECKOUT,UNCHECKOUT,REPORT,UPDATE,CANCELUPLOAD,HEAD,OPTIONS,GET,POST" />
				<add name="Access-Control-Expose-Headers" value="POST, GET, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Cookies" value="true" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>