<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="ReceiverSoap">
     <security mode="Transport"/>
    </binding>
    <binding name="ReceiverSoap1"/>
    <binding name="SiteGroupGatewaySoap">
     <security mode="Transport"/>
    </binding>
    <binding name="SiteGroupGatewaySoap1"/>
   </basicHttpBinding>
   <customBinding>
    <binding name="SiteGroupGatewaySoap12">
     <textMessageEncoding messageVersion="Soap12"/>
     <httpsTransport/>
    </binding>
   </customBinding>
  </bindings>
		<client>
   <endpoint address="https://portal.agmonitoring.com/testsgssignalservice/receiver.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiverSoap" contract="AGSignalService.ReceiverSoap" name="ReceiverSoap"/>
   <endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="basicHttpBinding" bindingConfiguration="SiteGroupGatewaySoap" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap"/>
   <endpoint address="https://portal.agmonitoring.com/testsitegroupgateway/service.asmx" binding="customBinding" bindingConfiguration="SiteGroupGatewaySoap12" contract="AGSiteService.SiteGroupGatewaySoap" name="SiteGroupGatewaySoap12"/>
  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
