<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
	</configSections>
	<SubSonicService defaultProvider="ProviderName">
		<providers>
			<clear />
			<add name="ProviderName" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ConnString" />
		</providers>
	</SubSonicService>
	<connectionStrings>
		<add name="ConnString" connectionString="asdfasdfasdf" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
