<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NXS.Logic.MonitoringStations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NXS.Logic.MonitoringStations.Properties.Settings>
            <setting name="NXS_Logic_MonitoringStations_MoniWSI45_WSI" serializeAs="String">
                <value>https://wstest.monitronics.net/MIDI/MIDI.asmx</value>
            </setting>
            <setting name="NXS_Logic_MonitoringStations_MoniBounceAPI_wwwBouncer"
                serializeAs="String">
                <value>https://wstest.monitronics.net/BounceServiceR2/wwwBouncer.svc</value>
            </setting>
        </NXS.Logic.MonitoringStations.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
