<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Preferences">
			<section name="PROD" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
			<section name="DEV" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
			 propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\CodeBaseSOS\Trunk\Services\Wcf\NXS.Services.Wcf.AppServices\NXS.Services.Wcf.AppServices\Web_tracelog.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<SubSonicService defaultProvider="SosCrmProvider">
		<providers>
			<clear/>
			<add name="AccountingProvider" type="SOS.Data.NxsAccountingProvider, SOS.Data" connectionStringName="SosAccountingConnString" />
			<add name="SosCrmProvider" type="SOS.Data.SosCrmProvider, SOS.Data" connectionStringName="SosCrmConnString" />
			<add name="FileStoreProvider" type="SOS.Data.NxsFileStoreProvider, SOS.Data" connectionStringName="FileStoreConnString" />
			<add name="HumanResourceProvider" type="SOS.Data.SosHumanResourceProvider, SOS.Data" connectionStringName="HumanResourcesConnString" />
			<add name="InventoryProvider" type="SOS.Data.NxsInventoryProvider, SOS.Data" connectionStringName="InventoyConnString" />
			<add name="LicensingProvider" type="SOS.Data.NxsLicensingProvider, SOS.Data" connectionStringName="LicensingConnString" />
			<add name="LoggingProvider" type="SOS.Data.SosLoggingProvider, SOS.Data" connectionStringName="LoggingConnString" />
			<add name="SurveyEngineProvider" type="SOS.Data.SseSurveyEngineProvider, SOS.Data" connectionStringName="SurveyEngineConnString" />
		</providers>
	</SubSonicService>
	<appSettings>
		<add key="Environment" value="PROD"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<connectionStrings>
		<add name="SosAccountingConnString" connectionString="Data Source=Localhost;Initial Catalog=NXS_Accounting;Integrated Security=SSPI;" />
		<add name="SosCrmConnString" connectionString="Data Source=Localhost;Initial Catalog=WISE_CRM;Integrated Security=SSPI;" />
		<add name="FileStoreConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_FileStore;Integrated Security=SSPI;" />
		<add name="HumanResourcesConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_HumanResource;Integrated Security=SSPI;" />
		<add name="InventoyConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Inventory;Integrated Security=SSPI;" />
		<add name="LicensingConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Licensing;Integrated Security=SSPI;" />
		<add name="LoggingConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_Logging;Integrated Security=SSPI;" />
		<add name="SurveyEngineConnString" connectionString="Data Source=Localhost;Initial Catalog=SLS_SurveyEngine;Integrated Security=SSPI;" />
	</connectionStrings>
	<Preferences>
		<PROD>
			<add key="Comments" value="Production Environment"/>
			<add key="SosCrmConnString" value="A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mk/sBT2HUFepO0XFiKWB8UdgHxCvmsKPy/+89U7kQueo5okDvdkht+UycfkIFknMdErihUplIgyJ02JL1n6OvW82R+/WQoPclBFK9g0SzaYcbw0Rj3TVx8+UplEytetyonbRpDZH2/A9n28IcKpvzIXJpg2aYmFwdor7h1SSmaY/g+B2qpEvjes" /><!--Data Source=db1.dev.nexsense.com;Initial Catalog=WISE_CRM;Persist Security Info=True;User ID=devUser;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosAuthControlConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6kD2eo2WKU9+WHCRjr43aU6DQPfUJnYk4SE2hGzUl1on7RLEHF+d3FMh5dS2sD9lZ52dK+sIHsasvU0jlZOZJS1pO/VD63g8vuf4bv2MTTKm2IU1Us8OODLmjfpd2SAZHQnIUr3xQ0DJ3C4cfAvtWRcMyrTVhlUoFg==" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_AuthenticationControl;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosLoggingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6p4g3mYiB7t6A+x0QnmJM5Nj2HEFAnPXMjTmyxYTy7w8ppc3B+Ho5mmkGX4QTv6UjbH/MoNKCu2K5rhDz/SiQ20F+2zgR8Avoy/n3/100C0g+6CvQ4P3pQLPrvO+cAxrRxo9mRB2GfuR" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_LOGGING;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosReceiverEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6tA5MwzK6V/wq+RSgIXU0lVvFapuoC5wq0jO7f9qva6L9IjDtRfagPDh4w5ZfFBn3DchE3JSdrpC/JnFfI/4x+H2R8hiGYCQQhCcJVhysXgIfQYwL8RVG9oZW8MeLptAIMaX8RvNvuNl" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_Receiver;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosHumanResourceConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6mI0sdATRomfn/R8L6I3fGchNoRs1JdaJ+0SxBxfndxTIeXUtrA/ZWednSvrCB7GrL1NI5WTmSUtaTv1Q+t4PL7n+G79jE0yptiFNVLPDjgy5o36XdkgGR0JyFK98UNAydwuHHwL7VkXDMq01YZVKBY=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_HumanResource;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SosGpsTrackingConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6sy82MRWZ4sHavNPBvCPNEkVY1KObzaJtW95xCfEcKTbxu6629KO23rcd0nfuEBftUUr2DRLNphxvDRGPdNXHz5SmUTK163KidtGkNkfb8D2fbwhwqm/MhcmmDZpiYXB2ivuHVJKZpj+D4HaqkS+N6w=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_GPSTRACKING;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="SseSurveyEngineConnString" value="ekG0s04Eu+uHS7XKvVLtq5yKhGWt+hxG45aE+iUUotNUs2u5sjT43nbGIaIwpZu7pcNvuIjngfnsoND48tql6unU0t+H95WVbYNqp6gs4pGQr/FRVQvhqwFui/wk+jSzm7VxdG6Um0UIzgNynsTkFxpNoNmdUg/6OXN2wLozrekYqYde+SD66dUZIiv9t9P5hBWqbGxAFDdD7ZoB8bLELAH2kO1F+YLMfiUoAtguGkI=" /><!--Persist Security Info=True;User ID=devUser;Initial Catalog=WISE_SurveyEngine;Data Source=db1.dev.nexsense.com;Password=1Filipino!20;Application Name=Nexsense CORS Services-->
			<add key="LogSourceID" value="8" />
			<add key="FileSourceID" value="1" />
			<add key="NxsFileStoreConnString" value="KCxACKgsFJokrIQto+oISh2v5EarJjGNQnxoCqCFJNaL7/AH19q2dNPnWdiyf4MsmUqTq218DOZ8RdENuTAHUx28d7shZY2BIZ4IO4tmMWtm8ASIymfzRBQHk1YjDL0o5vIKb2X1tXBfdVdZvjZg1bVENy3sIBoJkfMmr17pxvhbQyV1VcuxBL+YByr7o3XWl8Tdjf8O+WyB5/EasfUuv/pYvSGFWUv9"/>
      <add key="NxsInventoryConnString" value="KCxACKgsFJokrIQto+oISh2v5EarJjGNQnxoCqCFJNaL7/AH19q2dNPnWdiyf4MsAcScYoP9jMsVoK21OcWVBB28d7shZY2BIZ4IO4tmMWtm8ASIymfzRBQHk1YjDL0o5vIKb2X1tXBfdVdZvjZg1bVENy3sIBoJkfMmr17pxvhbQyV1VcuxBL+YByr7o3XWl8Tdjf8O+WyB5/EasfUuv/pYvSGFWUv9"/>
			<add key="NxsLicensingConnString" value="KCxACKgsFJokrIQto+oISh2v5EarJjGNQnxoCqCFJNaL7/AH19q2dNPnWdiyf4MskI129sKxJMNzU3Omm906vh28d7shZY2BIZ4IO4tmMWtm8ASIymfzRBQHk1YjDL0o5vIKb2X1tXBfdVdZvjZg1bVENy3sIBoJkfMmr17pxvhbQyV1VcuxBL+YByr7o3XWl8Tdjf8O+WyB5/EasfUuv/pYvSGFWUv9"/>
      <add key="NxsAccountingConnString" value="KCxACKgsFJokrIQto+oISh2v5EarJjGNQnxoCqCFJNaL7/AH19q2dNPnWdiyf4MsR2srOlmUPIxIGJ1zWQ7isCJCfyzwYuyYwGtGSXFjRuHB0LGfmXUxqYcyzygRNocbBjvyjrJrv88fwM+Ncq7clabhcMPGrICeQ6Ix+Puqpfmg0mc0rDxWphakXdA7mEbRbkl+Jv6SZ/+/kFNRJxsdbh1mhBWTFRE16ROm8q4FW4c="/>
      
      <add key="ProjectTrackerConnString" value="UUD08D0QPm3f5ENjg8CHrg1GTWALIMJGJkE8vFmvIkMR/UH5z1R8M5JwuYNlpmoRSDlZwjB6qMEjAG3feJidugFtsK82ii2k5Iy7BOcYsejZWkrS9agHv0uH4/UbHkK/D2jSe3YwCEnYDWLzuYYjeHWmWM2dFwYId9++D7w87RNMUtsEJt1fRsub/on40s9BG5ggTlAsx1L7utaSM161JXT93NbM6Y2s"/>
			<add key="GreatPlainsConnString" value="UUD08D0QPm3f5ENjg8CHrg1GTWALIMJGJkE8vFmvIkMR/UH5z1R8Mzu+Ny9xFc6+xJE44XekEy+j3Z1UBh+Iht96fQsvnAGMeEgVa8zErJivJ3wO25zoEoJbUpUgYquCC1SwtMcv/DMYNn3yhJ/Z3HrumJuQsuaqBZJztk6K8JLyvQ+QcYdkRUxS2wQm3V9GUmC6kB6kg71oKhvy1rjG0Q=="/>

      <add key="Domain" value="ls4WtXdW5Z30iMO1F9qA8HcNjnmiK68L"/><!-- corp.nexsense.com -->
			<add key="ADPAth" value="eYLIREvOzKbTV9u2UlJ97qaXNwfh6OZpfhnVYXFhLeo="/><!-- LDAP://corp.nexsense.com -->
			<add key="ADUser" value="fp2ZoXf29lU="/><!-- asosa -->
			<add key="ADPassword" value="hqoqCyxZICOVJ1ZK+Q/RIw=="/><!-- ******** -->
			<add key="ADUsersPath" value="YWfBGOs5fMFJiHgyTUnFzH4Z1WFxYS3q"/><!-- OU=CORPNEXSENSE, -->
		</PROD>
		<DEV>
			<add key="Comments" value="Corporate Office Environment"/>

			<add key="SlsCmsConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaFzk54Npw50pz/GwvrFZ5Vay9YoqCT+kryZGV+EeVjYs2vU9emb8e/NOOlWshOUf67A0HPTcSM6I69UZhGHY7u4ZvLeUryxO20Z+2QxYK3inVyQtEqNaYbMzc7DsBTbWlD/y/I32kaId6tnYnxY0uApbHSNmtqCX+dQ=="/>
			<add key="FileStoreConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF+bWKfeUMDvksymzhXH2sOi3s77ZST1Yoti5aL8g+TQErx+3LsHn6C0e6/j6aTwWTZp3VUn3uKCdiYVBgqEl/j1yYowD5IpZhjuhM0ptBzweRDdu1lb87gNZXvU1PO8gjxqXaA4wmJE5uBUUmnrMEXKVEFaCL7U9oQ=="/>
			<add key="HumanResourcesConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF5vqSFoqsdVTro11mamV+UZgbFhGoh8YqgFtsK82ii2k5Iy7BOcYsejZWkrS9agHv0uH4/UbHkK/D2jSe3YwCEnYDWLzuYYjeHWmWM2dFwYId9++D7w87RNMUtsEJt1fRsub/on40s9B6tJjPn7itVPfRluI2lOyFLhUn+fW2j3i"/>
			<add key="InventoryConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF/E7XvLZjw41R7Qd8yXBu8m3s77ZST1Yoti5aL8g+TQErx+3LsHn6C0e6/j6aTwWTZp3VUn3uKCdiYVBgqEl/j1yYowD5IpZhjuhM0ptBzweRDdu1lb87gNZXvU1PO8gjxqXaA4wmJE5uBUUmnrMEXKVEFaCL7U9oQ=="/>
			<add key="LicensingConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF/FG0++Rk6RMkG1LjUfI1Fm3s77ZST1Yoti5aL8g+TQErx+3LsHn6C0e6/j6aTwWTZp3VUn3uKCdiYVBgqEl/j1yYowD5IpZhjuhM0ptBzweRDdu1lb87gNZXvU1PO8gjxqXaA4wmJE5uBUUmnrMEXKVEFaCL7U9oQ=="/>
			<add key="LoggingConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF/FG0++Rk6RM7C+Qg58hLpPzjeBGGOhRp3GhpfUgx+SXHTZcfrTUG5nWIbUb8IzkSMe4wBXdz18U6TAl/b78Hj91udV1QFtUsG6r4gj5gzIs6tlU560YRkEr2P8vLcICglmFxJoJry6y66HgG24yZsG4TjB1/+Lvgg=="/>
			<add key="ProjectTrackerConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF90ZlKxoPfD1+dZz73uqfZrt3aYQjnDqasrZsX6Ibg9eUZvDdpBK/M8bj+nBUu75Dn5N3k7Qgj3va/zkQfs/VfcmE2KOB7o1PXthQz03qjIJSOv2zo5ep6/a5E9hYRKa7hN2guiI5Ka38lF9tv45uBOFjQl82eVYHogxgS9pRAND"/>
			<add key="SurveyEngineConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaFwcqIauS+DqlMxPGokEJEWfO5sX6rCVME3Obp4A0zAO5PKrdVWL+hqPXGM55aeSY2CRtoZesHdv5gI5XEWHl/jE/KlT76NBHdyQiD/99TAiLfq0omxWaXra1E+ixrX173J0R+gpkjrc1+pmKrZ1HG298YvBY2QrRnrraP/HuTj3B" />
			<add key="GreatPlainsConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF5tZoOXqHQSit7O+2Uk9WKLYuWi/IPk0BK8fty7B5+gtHuv4+mk8Fk2ad1VJ97ignYmFQYKhJf49cmKMA+SKWYY7oTNKbQc8HkQ3btZW/O4DWV71NTzvII8al2gOMJiRObgVFJp6zBFylRBWgi+1PaE="/>
			<add key="AccountingConnString" value="UUD08D0QPm0rheW1DOmK1Li62kFhkaWKBTTZd5o7Xjd6v9O4aSLaF5tZoOXqHQSit7O+2Uk9WKLYuWi/IPk0BK8fty7B5+gtHuv4+mk8Fk2ad1VJ97ignYmFQYKhJf49cmKMA+SKWYY7oTNKbQc8HkQ3btZW/O4DWV71NTzvII8al2gOMJiRObgVFJp6zBFylRBWgi+1PaE="/>
			<add key="Domain" value="TGJqCtSJjOl8XTqorxxdrJKl7+UgktUY"/>
			<add key="ADPAth" value="lLEfLkA74KNDAFoUA3fbl9jseL4nKHiDx0jZragl/nU="/>
			<add key="ADUser" value="1QX64RlHaGo="/>
			<add key="ADPassword" value="Ivq2ZXNFuYt5tvFwduCgkQ=="/>
			<add key="ADUsersPath" value="HnCqUnRhQuCS67mx3QQreLvVwVfGrh4k"/>
			<add key="LogSourceID" value="1"/>
			<add key="FileSourceID" value="1"/>
		</DEV>
	</Preferences>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<!-- LOCAL CONFIGURATION -->
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.Dashboard.DashboardService">
				<endpoint address="http://localhost:3202/DashboardService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.Dashboard.IDashboardService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.ErrorHandling.ErrorHandlingService">
				<endpoint address="http://localhost:3202/ErrorHandlingService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.ErrorHandling.IErrorHandlingService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.HRManager.HiringManagerService">
				<endpoint address="http://localhost:3202/HiringManagerService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.HRManager.IHiringManagerService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.SecurityManager.SecurityService">
				<endpoint address="http://localhost:3202/SecurityService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.SecurityManager.ISecurityService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior01">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="SecWsBinding" maxBufferPoolSize="4294967295" maxReceivedMessageSize="100000000">
					<readerQuotas maxDepth="100000" maxStringContentLength="100000000"
					 maxArrayLength="1048576" maxBytesPerRead="2147483647" maxNameTableCharCount="40000" />
					<security mode="None">
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<!-- PRODUCTION CONFIGURATION -->
	<!--<system.serviceModel>
		<services>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.Dashboard.DashboardService">
				<endpoint address="http://NXS.Services.AppWcf/DashboardService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.Dashboard.IDashboardService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.ErrorHandling.ErrorHandlingService">
				<endpoint address="http://NXS.Services.AppWcf/ErrorHandlingService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.ErrorHandling.IErrorHandlingService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.HRManager.HiringManagerService">
				<endpoint address="http://NXS.Services.AppWcf/HiringManagerService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.HRManager.IHiringManagerService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="DefaultBehavior01" name="NXS.Services.Wcf.AppServices.SecurityManager.SecurityService">
				<endpoint address="http://NXS.Services.AppWcf/SecurityService.svc"
									binding="wsHttpBinding" bindingConfiguration="SecWsBinding"
									contract="NXS.Services.Wcf.AppServices.SecurityManager.ISecurityService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior01">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="SecWsBinding" maxBufferPoolSize="4294967295" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="100000" maxStringContentLength="40000"
					 maxArrayLength="100000" maxBytesPerRead="2147483647" maxNameTableCharCount="40000" />
					<security mode="None">
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>-->
</configuration>
